.version.epsiservers /* version checker */
{
	color: #0000F3;
	background-color: #D02323;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#pu89
{
	width: 0.01px;
	padding-bottom: 58px;
	margin-left: -100px;
}

#u89
{
	z-index: 55;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 55;
}

#u92
{
	z-index: 56;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u574
{
	z-index: 57;
	width: 189px;
	padding-bottom: 47px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 58;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 62;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#u10383
{
	z-index: 15;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -44px;
	margin-top: 42px;
	position: relative;
	padding: 31px 33px 15.000000000000682px 23px;
}

#u10418
{
	z-index: 52;
	width: 980px;
	height: 300px;
	background-color: transparent;
	position: relative;
}

#u10384-6
{
	z-index: 16;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u10385
{
	z-index: 22;
	width: 985px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -44px;
	margin-top: 26px;
	position: relative;
	padding: 23px 28px 15.000000000000682px 23px;
}

#u10396
{
	z-index: 50;
	width: 980px;
	height: 300px;
	background-color: transparent;
	margin-left: 5px;
	position: relative;
}

#u10386-6
{
	z-index: 23;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 20px;
	position: relative;
}

#u10387
{
	z-index: 29;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -44px;
	margin-top: 29px;
	position: relative;
	padding: 23px 38px 15.00000000000091px 18px;
}

#u10419
{
	z-index: 53;
	width: 980px;
	height: 300px;
	background-color: transparent;
	position: relative;
}

#u10388-6
{
	z-index: 30;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 5px;
	margin-top: 20px;
	position: relative;
}

#u10389
{
	z-index: 36;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -44px;
	margin-top: 29px;
	position: relative;
	padding: 27px 33px 15.00000000000091px 23px;
}

#u10453
{
	z-index: 54;
	width: 980px;
	height: 300px;
	background-color: transparent;
	position: relative;
}

#u10390-6
{
	z-index: 37;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u10391
{
	z-index: 43;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -44px;
	margin-top: 29px;
	position: relative;
	padding: 24px 38px 15.00000000000091px 18px;
}

#u10421
{
	z-index: 51;
	width: 980px;
	height: 300px;
	background-color: transparent;
	position: relative;
}

#U10431_animation,#U10407_animation,#U10435_animation,#U10455_animation,#U10427_animation
{
	width: 980px;
	height: 300px;
	border: none;
}

#u10392-6
{
	z-index: 44;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 5px;
	margin-top: 19px;
	position: relative;
}

#u10384-4,#u10386-4,#u10388-4,#u10390-4,#u10392-4
{
	font-size: 12px;
	line-height: 14px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

