.version.index /* version checker */
{
	color: #0000E2;
	background-color: #B3F36A;
}

.html
{
	background: #FFFFFF url("../images/pattern-1.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 690px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u89
{
	z-index: 57;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 57;
}

#u92
{
	z-index: 58;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u1203
{
	z-index: 16;
	width: 246px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
	left: 168px;
	padding: 12px 21px 344px;
}

#buttonu2177
{
	z-index: 43;
	width: 246px;
	border-color: #787878;
	background-color: #F1F1F1;
	border-radius: 10px;
	padding-bottom: 11px;
	position: relative;
}

#u2178
{
	z-index: 44;
	width: 98px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 12px;
}

#buttonu2177:hover #u2178
{
	width: 98px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#u2493-4
{
	z-index: 46;
	width: 113px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 123px;
}

#buttonu2177:hover #u2493-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 113px;
	margin: 13px -10000px 0px 0px;
}

#buttonu2177:hover #u2493-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu2494
{
	z-index: 50;
	width: 246px;
	border-color: #787878;
	background-color: #F1F1F1;
	border-radius: 10px;
	padding-bottom: 11px;
	margin-top: 12px;
	position: relative;
}

#buttonu2494:hover
{
	background-color: #545454;
	width: 246px;
	min-height: 0px;
	margin: 12px 0px 0px;
}

#u2496
{
	z-index: 51;
	width: 98px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 12px;
}

#buttonu2177.ButtonSelected #u2178,#buttonu2494:hover #u2496
{
	width: 98px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#u2495-4
{
	z-index: 53;
	width: 113px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 123px;
}

#buttonu2177.ButtonSelected #u2493-4,#buttonu2494:hover #u2495-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 113px;
	margin: 13px -10000px 0px 0px;
}

#buttonu2494:hover #u2495-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1424
{
	z-index: 17;
	width: 246px;
	border-color: #787878;
	background-color: #F1F1F1;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-top: 13px;
	position: relative;
}

#buttonu1424:hover
{
	background-color: #545454;
	width: 246px;
	min-height: 0px;
	margin: 13px 0px 0px;
}

#u1429
{
	z-index: 22;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 25px;
}

#buttonu1424:hover #u1429
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#u1427-4
{
	z-index: 18;
	width: 67px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 148px;
}

#buttonu1424:hover #u1427-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 67px;
	margin: 15px -10000px 0px 0px;
}

#buttonu1424:hover #u1427-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1163
{
	z-index: 15;
	width: 246px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
	left: 535px;
	padding: 20px 21px 344.125px;
}

#buttonu2166
{
	z-index: 29;
	width: 246px;
	border-color: #787878;
	background-color: #F1F1F1;
	border-radius: 10px;
	padding-bottom: 11px;
	position: relative;
}

#buttonu2177:hover,#buttonu2166:hover
{
	background-color: #545454;
	width: 246px;
	min-height: 0px;
	margin: 0px;
}

#u2171
{
	z-index: 30;
	width: 98px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 13px;
}

#buttonu2494.ButtonSelected #u2496,#buttonu2166:hover #u2171
{
	width: 98px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#u2499-4
{
	z-index: 32;
	width: 113px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 123px;
}

#buttonu2494.ButtonSelected #u2495-4,#buttonu2166:hover #u2499-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 113px;
	margin: 13px -10000px 0px 0px;
}

#buttonu2166:hover #u2499-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu2500
{
	z-index: 36;
	width: 246px;
	border-color: #787878;
	background-color: #F1F1F1;
	border-radius: 10px;
	padding-bottom: 11px;
	margin-top: 13px;
	position: relative;
}

#u2502
{
	z-index: 37;
	width: 98px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 13px;
}

#buttonu2166.ButtonSelected #u2171,#buttonu2500:hover #u2502
{
	width: 98px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#buttonu2500.ButtonSelected #u2502
{
	width: 98px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#u2501-4
{
	z-index: 39;
	width: 113px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 123px;
}

#buttonu2166.ButtonSelected #u2499-4,#buttonu2500:hover #u2501-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 113px;
	margin: 13px -10000px 0px 0px;
}

#buttonu2500.ButtonSelected #u2501-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 113px;
	margin: 13px -10000px 0px 0px;
}

#buttonu2500:hover #u2501-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1524
{
	z-index: 23;
	width: 246px;
	border-color: #787878;
	background-color: #F1F1F1;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-top: 13px;
	position: relative;
}

#buttonu2500:hover,#buttonu1524:hover
{
	background-color: #545454;
	width: 246px;
	min-height: 0px;
	margin: 13px 0px 0px;
}

#buttonu1424.ButtonSelected,#buttonu1524.ButtonSelected
{
	background-color: #F1F1F1;
	width: 246px;
	min-height: 0px;
	margin: 13px 0px 0px;
}

#u1525
{
	z-index: 28;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 25px;
}

#buttonu1524:hover #u1525
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#buttonu1424.ButtonSelected #u1429,#buttonu1524.ButtonSelected #u1525
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#u1527-4
{
	z-index: 24;
	width: 67px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 148px;
}

#buttonu1424.ButtonSelected #u1427-4,#buttonu1524:hover #u1527-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 67px;
	margin: 15px -10000px 0px 0px;
}

#buttonu1524.ButtonSelected #u1527-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 67px;
	margin: 15px -10000px 0px 0px;
}

#buttonu1524:hover #u1527-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu2177.ButtonSelected #u2493-4 p,#buttonu2494.ButtonSelected #u2495-4 p,#buttonu1424.ButtonSelected #u1427-4 p,#buttonu2166.ButtonSelected #u2499-4 p,#buttonu2500.ButtonSelected #u2501-4 p,#buttonu1524.ButtonSelected #u1527-4 p
{
	color: #000000;
	visibility: inherit;
}

#u574
{
	z-index: 59;
	width: 189px;
	padding-bottom: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 60;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 64;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
	margin-bottom: -56px;
	margin-top: 663px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -662px;
}

