.version.innofactor /* version checker */
{
	color: #000006;
	background-color: #9945ED;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#pu89
{
	width: 0.01px;
	padding-bottom: 56px;
	margin-left: -100px;
}

#u89
{
	z-index: 56;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 56;
}

#u92
{
	z-index: 57;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u574
{
	z-index: 58;
	width: 189px;
	padding-bottom: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 59;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 63;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#u9751
{
	z-index: 15;
	width: 985px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -24px;
	margin-top: 116px;
	position: relative;
	padding: 32px 28px 15.000000000000682px 23px;
}

#u9844
{
	z-index: 55;
	width: 980px;
	height: 300px;
	background-color: transparent;
	margin-left: 5px;
	position: relative;
}

#u9752-6
{
	z-index: 16;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u9754
{
	z-index: 23;
	width: 989px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -24px;
	margin-top: 31px;
	position: relative;
	padding: 19px 33px 25.000000000000682px 14px;
}

#u9819
{
	z-index: 51;
	width: 980px;
	height: 300px;
	background-color: transparent;
	margin-left: 9px;
	position: relative;
}

#u9755-6
{
	z-index: 24;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u9756
{
	z-index: 30;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -24px;
	margin-top: 60px;
	position: relative;
	padding: 21px 33px 15.00000000000091px 23px;
}

#u9839
{
	z-index: 54;
	width: 980px;
	height: 300px;
	background-color: transparent;
	position: relative;
}

#u9757-6
{
	z-index: 31;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 22px;
	position: relative;
}

#u9758
{
	z-index: 37;
	width: 984px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -24px;
	margin-top: 35px;
	position: relative;
	padding: 14px 38px 29.00000000000091px 14px;
}

#u9829
{
	z-index: 52;
	width: 980px;
	height: 300px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u9759-6
{
	z-index: 38;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u9760
{
	z-index: 44;
	width: 984px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -24px;
	margin-top: 35px;
	position: relative;
	padding: 16px 38px 29.00000000000091px 14px;
}

#u9834
{
	z-index: 53;
	width: 980px;
	height: 300px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#U9846_animation,#U9821_animation,#U9841_animation,#U9831_animation,#U9836_animation
{
	width: 980px;
	height: 300px;
	border: none;
}

#u9761-6
{
	z-index: 45;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u9752-4,#u9755-4,#u9757-4,#u9759-4,#u9761-4
{
	font-size: 12px;
	line-height: 14px;
}

#u9753
{
	z-index: 22;
	width: 131px;
	height: 46px;
	margin-left: 636px;
	margin-top: 87px;
	position: relative;
}

.ie #u9753
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 54px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

