.version.m___adforms_display /* version checker */
{
	color: #000000;
	background-color: #0AA0E9;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#pu89
{
	width: 0.01px;
	padding-bottom: 56px;
	margin-left: -100px;
}

#u89
{
	z-index: 132;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 132;
}

#u92
{
	z-index: 133;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u436
{
	z-index: 140;
	top: 11px;
	left: 50%;
	margin-left: -343px;
}

#u574
{
	z-index: 134;
	width: 189px;
	padding-bottom: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 135;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 139;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#top
{
	left: -100px;
	top: -56px;
	margin-bottom: -18px;
	position: relative;
}

#u2218
{
	z-index: 81;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(-1,0,0,-1,32,32);
	-ms-transform: matrix(-1,0,0,-1,32,32);
	transform: matrix(-1,0,0,-1,32,32);
	top: 81px;
	left: 50%;
	margin-left: 360px;
}

#u2216
{
	z-index: 80;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(0,-1,1,0,0,32);
	-ms-transform: matrix(0,-1,1,0,0,32);
	transform: matrix(0,-1,1,0,0,32);
	top: 81px;
	left: 50%;
	margin-left: 404px;
}

#u2209-8
{
	z-index: 68;
	width: 871px;
	min-height: 159px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	margin-left: 45px;
	margin-top: 62px;
	position: relative;
}

#u2209-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2209
{
	font-size: 40px;
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	line-height: 48px;
}

#u2209-5
{
	line-height: 19px;
}

#u2224
{
	z-index: 82;
	width: 283px;
	background-color: transparent;
	margin-left: 339px;
	margin-top: 13px;
	position: relative;
}

#u2214-4
{
	z-index: 76;
	width: 262px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	margin-left: 349px;
	margin-top: 5px;
	position: relative;
}

#u4848
{
	z-index: 50;
	width: 990px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -9px;
	margin-top: 16px;
	position: relative;
	padding: 11px 31px 23px 19px;
}

#u5786
{
	z-index: 124;
	width: 980px;
	height: 240px;
	background-color: transparent;
	margin-left: 10px;
	position: relative;
}

#u4849-6
{
	z-index: 103;
	width: 165px;
	min-height: 31px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 24px;
	position: relative;
}

#ppu3645
{
	width: 0.01px;
	margin-left: 34px;
	margin-top: 18px;
}

#pu3645
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u3645
{
	z-index: 66;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	padding: 27px 13px 13px 23px;
}

#u5788
{
	z-index: 123;
	width: 320px;
	height: 160px;
	background-color: transparent;
	position: relative;
}

#U5802_animation
{
	width: 320px;
	height: 160px;
	border: none;
}

#u3499-6
{
	z-index: 97;
	width: 171px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u4659
{
	z-index: 58;
	width: 300px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 14px;
	position: relative;
	padding: 8px 44px 6.029434447301242px 12px;
}

#u5789
{
	z-index: 122;
	width: 300px;
	height: 250px;
	background-color: transparent;
	position: relative;
}

#U5798_animation
{
	width: 300px;
	height: 250px;
	border: none;
}

#u4660-6
{
	z-index: 60;
	width: 171px;
	min-height: 31px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 4px;
	position: relative;
}

#u5717
{
	z-index: 59;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 14px;
	position: relative;
	padding: 19px 17px 11px;
}

#u5787
{
	z-index: 125;
	width: 320px;
	height: 320px;
	background-color: transparent;
	position: relative;
}

#u5718-6
{
	z-index: 115;
	width: 171px;
	min-height: 31px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 13px;
	position: relative;
}

#ppu4850
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 433px;
}

#pu4850
{
	width: 0.01px;
}

#u4850
{
	z-index: 43;
	width: 250px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 16px 11px 15.040968110121412px 13px;
}

#u5790
{
	z-index: 121;
	width: 250px;
	height: 600px;
	background-color: transparent;
	position: relative;
}

#U5794_animation
{
	width: 250px;
	height: 600px;
	border: none;
}

#u4851-6
{
	z-index: 44;
	width: 209px;
	min-height: 30px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 8px;
	position: relative;
}

#u4562
{
	z-index: 67;
	width: 180px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 295px;
	padding: 16px 16px 15px 18px;
}

#u5792
{
	z-index: 126;
	width: 160px;
	height: 600px;
	background-color: transparent;
	position: relative;
}

#U5814_animation
{
	width: 160px;
	height: 600px;
	border: none;
}

#u5716-6
{
	z-index: 109;
	width: 176px;
	min-height: 30px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	margin-top: 8px;
	position: relative;
}

#u4661
{
	z-index: 51;
	width: 257px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 78px;
	margin-top: 44px;
	position: relative;
	padding: 31px 39px 19px 19px;
}

#u5791
{
	z-index: 127;
	width: 250px;
	height: 360px;
	background-color: transparent;
	margin-left: 7px;
	position: relative;
}

#U5818_animation
{
	width: 250px;
	height: 360px;
	border: none;
}

#u4662-6
{
	z-index: 52;
	width: 171px;
	min-height: 31px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 27px;
	position: relative;
}

#u5739
{
	z-index: 36;
	width: 982px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -48px;
	margin-top: 51px;
	position: relative;
	padding: 28px 30px 18.029434447296012px 28px;
}

#u5821
{
	z-index: 131;
	width: 980px;
	height: 240px;
	background-color: transparent;
	margin-left: 2px;
	position: relative;
}

#U5806_animation,#U5838_animation
{
	width: 980px;
	height: 240px;
	border: none;
}

#u5740-6
{
	z-index: 37;
	width: 219px;
	min-height: 31px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 21px;
	position: relative;
}

#ppu5741
{
	width: 0.01px;
	margin-left: -52px;
	margin-top: 22px;
}

#pu5741
{
	width: 0.01px;
	margin-right: -10000px;
}

#u5741
{
	z-index: 29;
	width: 717px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	padding: 21px 26px 23.229434447299468px 19px;
}

#u5822
{
	z-index: 130;
	width: 711px;
	height: 250px;
	background-color: transparent;
	margin-left: 6px;
	position: relative;
}

#U5834_animation
{
	width: 711px;
	height: 250px;
	border: none;
}

#u5742-6
{
	z-index: 30;
	width: 219px;
	min-height: 31px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u5745
{
	z-index: 15;
	width: 330px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 176px;
	margin-top: 21px;
	position: relative;
	padding: 16px 25px 12px 19px;
}

#u5823
{
	z-index: 129;
	width: 320px;
	height: 320px;
	background-color: transparent;
	margin-left: 10px;
	position: relative;
}

#U5810_animation,#U5830_animation
{
	width: 320px;
	height: 320px;
	border: none;
}

#u5746-6
{
	z-index: 16;
	width: 219px;
	min-height: 31px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u5743
{
	z-index: 22;
	width: 262px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 776px;
	padding: 17px 30px 13.369198475726307px 19px;
}

#u5824
{
	z-index: 128;
	width: 250px;
	height: 500px;
	background-color: transparent;
	margin-left: 12px;
	position: relative;
}

#U5826_animation
{
	width: 250px;
	height: 500px;
	border: none;
}

#u5744-6
{
	z-index: 23;
	width: 219px;
	min-height: 37px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u4849-4,#u3499-4,#u4660-4,#u5718-4,#u4851-4,#u5716-4,#u4662-4,#u5740-4,#u5742-4,#u5746-4,#u5744-4
{
	font-size: 12px;
	line-height: 14px;
}

#pu2381
{
	width: 0.01px;
	margin-left: 313px;
	margin-top: 36px;
}

#u2381
{
	z-index: 85;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2382
{
	z-index: 86;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2383-4
{
	z-index: 87;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u2384
{
	z-index: 91;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 246px;
}

#u2385
{
	z-index: 92;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2386-4
{
	z-index: 93;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 56px;
}

#page .verticalspacer
{
	clear: both;
}

