.version.m___adforms_display /* version checker */
{
	color: #000005;
	background-color: #D1951F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#pu89
{
	width: 0.01px;
	padding-bottom: 58px;
	margin-left: -100px;
}

#u89
{
	z-index: 108;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 108;
}

#u92
{
	z-index: 109;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u436
{
	z-index: 116;
	top: 11px;
	left: 50%;
	margin-left: -343px;
}

#u574
{
	z-index: 110;
	width: 189px;
	padding-bottom: 47px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 111;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 115;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#top
{
	left: -100px;
	top: -58px;
	margin-bottom: -18px;
	position: relative;
}

#u2218
{
	z-index: 42;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(-1,0,0,-1,32,32);
	-ms-transform: matrix(-1,0,0,-1,32,32);
	transform: matrix(-1,0,0,-1,32,32);
	top: 81px;
	left: 50%;
	margin-left: 360px;
}

#u2216
{
	z-index: 41;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(0,-1,1,0,0,32);
	-ms-transform: matrix(0,-1,1,0,0,32);
	transform: matrix(0,-1,1,0,0,32);
	top: 81px;
	left: 50%;
	margin-left: 404px;
}

#u2209-8
{
	z-index: 29;
	width: 871px;
	min-height: 159px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	margin-left: 45px;
	margin-top: 60px;
	position: relative;
}

#u2209-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2209
{
	font-size: 40px;
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	line-height: 48px;
}

#u2209-5
{
	line-height: 19px;
}

#u2224
{
	z-index: 43;
	width: 283px;
	background-color: transparent;
	margin-left: 339px;
	margin-top: 13px;
	position: relative;
}

#u2214-4
{
	z-index: 37;
	width: 262px;
	min-height: 37px;
	background-color: transparent;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	margin-left: 349px;
	margin-top: 5px;
	position: relative;
}

#u4848
{
	z-index: 27;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -9px;
	margin-top: 16px;
	position: relative;
	padding: 10px 17px 13.382542372881858px;
}

#u6427
{
	z-index: 100;
	width: 980px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#U6432_animation
{
	width: 980px;
	height: 240px;
	border: none;
}

#u4849-6
{
	z-index: 64;
	width: 165px;
	min-height: 31px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 12px;
	position: relative;
}

#u3645
{
	z-index: 28;
	width: 730px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 34px;
	margin-top: 12px;
	position: relative;
	padding: 14px 56px 11.000000000000455px 21px;
}

#u6428
{
	z-index: 101;
	width: 711px;
	height: 250px;
	background-color: transparent;
	margin-left: 19px;
	position: relative;
}

#U6436_animation
{
	width: 711px;
	height: 250px;
	border: none;
}

#u3499-6
{
	z-index: 58;
	width: 171px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#pu6227
{
	width: 0.01px;
	margin-left: 116px;
	margin-top: 12px;
}

#u6227
{
	z-index: 19;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	padding: 17px 10px 19px 11px;
}

#u6429
{
	z-index: 102;
	width: 320px;
	height: 320px;
	background-color: transparent;
	left: -1px;
	position: relative;
}

#U6440_animation
{
	width: 320px;
	height: 320px;
	border: none;
}

#u6136-6
{
	z-index: 70;
	width: 176px;
	min-height: 30px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 15px;
	margin-top: 27px;
	position: relative;
}

#u4850
{
	z-index: 20;
	width: 250px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 509px;
	padding: 37px 12px 14px;
}

#u6430
{
	z-index: 103;
	width: 250px;
	height: 500px;
	background-color: transparent;
	position: relative;
}

#U6444_animation
{
	width: 250px;
	height: 500px;
	border: none;
}

#u4851-6
{
	z-index: 21;
	width: 209px;
	min-height: 30px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 24px;
	position: relative;
}

#pu6254
{
	width: 0.01px;
	margin-left: 100px;
	margin-top: 5px;
}

#u6254
{
	z-index: 15;
	width: 250px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 18px 14px 22.25px 22px;
}

#u6450
{
	z-index: 107;
	width: 250px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#U6464_animation
{
	width: 250px;
	height: 240px;
	border: none;
}

#u6258-6
{
	z-index: 94;
	width: 231px;
	min-height: 30px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u6251
{
	z-index: 18;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 405px;
	padding: 13px 66px 10.150000000000091px 21px;
}

#u6449
{
	z-index: 106;
	width: 320px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#U6460_animation
{
	width: 320px;
	height: 240px;
	border: none;
}

#u6255-6
{
	z-index: 76;
	width: 176px;
	min-height: 30px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u6252
{
	z-index: 17;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -36px;
	margin-top: 17px;
	position: relative;
	padding: 14px 28px 18px 11px;
}

#u6447
{
	z-index: 104;
	width: 980px;
	height: 140px;
	background-color: transparent;
	position: relative;
}

#U6452_animation
{
	width: 980px;
	height: 140px;
	border: none;
}

#u6256-6
{
	z-index: 82;
	width: 176px;
	min-height: 30px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 9px;
	margin-top: 22px;
	position: relative;
}

#u6253
{
	z-index: 16;
	width: 736px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 108px;
	margin-top: 18px;
	position: relative;
	padding: 10px 39px 11px 18px;
}

#u6448
{
	z-index: 105;
	width: 728px;
	height: 90px;
	background-color: transparent;
	margin-left: 8px;
	position: relative;
}

#U6456_animation
{
	width: 728px;
	height: 90px;
	border: none;
}

#u6257-6
{
	z-index: 88;
	width: 176px;
	min-height: 30px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u4849-4,#u3499-4,#u6136-4,#u4851-4,#u6258-4,#u6255-4,#u6256-4,#u6257-4
{
	font-size: 12px;
	line-height: 14px;
}

#pu2381
{
	width: 0.01px;
	margin-left: 257px;
	margin-top: 69px;
}

#u2381
{
	z-index: 46;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2382
{
	z-index: 47;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2383-4
{
	z-index: 48;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u2384
{
	z-index: 52;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 295px;
}

#u2385
{
	z-index: 53;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2386-4
{
	z-index: 54;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 56px;
}

#page .verticalspacer
{
	clear: both;
}

