#u89
{
	background-color: #1D1D1D;
	position: fixed;
}

#u92
{
	overflow: hidden;
	position: fixed;
}

#u574
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u90-4
{
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: fixed;
}

#u91
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.25);
	border-radius: 2px;
	position: fixed;
	-pie-background: rgba(255,255,255,0.25);
}

#u91:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.5);
	-pie-background: rgba(255,255,255,0.5);
}

#u75
{
	background-color: #1D1D1D;
}

#u75_align_to_page
{
	position: relative;
}

#u88-6
{
	background-color: transparent;
	color: #7F7F7F;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	font-style: normal;
	position: relative;
}

#u86,#u76,#u82,#u84,#u78,#u80
{
	overflow: hidden;
	position: relative;
}

