.version.mm___adforms_display /* version checker */
{
	color: #0000E3;
	background-color: #61E05B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1994.7000000000007px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#top
{
	left: -100px;
	position: relative;
}

#u89
{
	z-index: 116;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 116;
}

#u92
{
	z-index: 117;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u574
{
	z-index: 118;
	width: 189px;
	padding-bottom: 47px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 119;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 123;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#u2218
{
	z-index: 36;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(-1,0,0,-1,32,32);
	-ms-transform: matrix(-1,0,0,-1,32,32);
	transform: matrix(-1,0,0,-1,32,32);
	top: 81px;
	left: 50%;
	margin-left: 360px;
}

#u2216
{
	z-index: 35;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(0,-1,1,0,0,32);
	-ms-transform: matrix(0,-1,1,0,0,32);
	transform: matrix(0,-1,1,0,0,32);
	top: 81px;
	left: 50%;
	margin-left: 404px;
}

#u2209-8
{
	z-index: 23;
	width: 871px;
	min-height: 159px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 45px;
	margin-top: 100px;
	position: relative;
}

#u2209-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2209
{
	font-size: 40px;
	line-height: 48px;
}

#u2209-5
{
	line-height: 19px;
}

#u2224
{
	z-index: 37;
	width: 283px;
	background-color: transparent;
	margin-left: 339px;
	margin-top: 13px;
	position: relative;
}

#u2214-4
{
	z-index: 31;
	width: 262px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 349px;
	margin-top: 5px;
	position: relative;
}

#u8134
{
	z-index: 59;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -44px;
	margin-top: 97px;
	position: relative;
	padding: 11px 32px 18px 24px;
}

#u13900
{
	z-index: 107;
	width: 980px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#U13902_animation
{
	width: 980px;
	height: 240px;
	border: none;
}

#u8135-6
{
	z-index: 60;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	margin-top: 26px;
	position: relative;
}

#pppu8126
{
	width: 0.01px;
	margin-left: -22px;
	margin-top: 30px;
}

#ppu8126
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#pu8126
{
	width: 0.01px;
}

#u8126
{
	z-index: 52;
	width: 331px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 18px 21px 12.110942249244601px 20px;
}

#u13899
{
	z-index: 111;
	width: 320px;
	height: 320px;
	background-color: transparent;
	margin-left: 11px;
	position: relative;
}

#U13918_animation
{
	width: 320px;
	height: 320px;
	border: none;
}

#u8127-6
{
	z-index: 53;
	width: 203px;
	min-height: 39px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u13786
{
	z-index: 93;
	width: 300px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 391px;
	padding: 34px 48px 25.3109422492451px 24px;
}

#u13897
{
	z-index: 109;
	width: 300px;
	height: 250px;
	background-color: transparent;
	position: relative;
}

#U13910_animation
{
	width: 300px;
	height: 250px;
	border: none;
}

#u13787-6
{
	z-index: 94;
	width: 203px;
	min-height: 39px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u13559
{
	z-index: 22;
	width: 733px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 5px;
	margin-top: 22px;
	position: relative;
	padding: 8px 25px 13px 15px;
}

#u13898
{
	z-index: 110;
	width: 730px;
	height: 250px;
	background-color: transparent;
	margin-left: 3px;
	position: relative;
}

#U13914_animation
{
	width: 730px;
	height: 250px;
	border: none;
}

#u13560-6
{
	z-index: 87;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u13788
{
	z-index: 100;
	width: 203px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 802px;
	padding: 19px 13px 19px 19px;
}

#u13896
{
	z-index: 108;
	width: 160px;
	height: 600px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#U13906_animation
{
	width: 160px;
	height: 600px;
	border: none;
}

#u13789-6
{
	z-index: 101;
	width: 203px;
	min-height: 39px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 5px;
	position: relative;
}

#pu9571
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 66px;
}

#u9571
{
	z-index: 68;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 26px 42px 19.324999999999136px 15px;
}

#u13922
{
	z-index: 113;
	width: 320px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#U13930_animation
{
	width: 320px;
	height: 240px;
	border: none;
}

#u9574-6
{
	z-index: 69;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 7px;
	margin-top: 18px;
	position: relative;
}

#u13581
{
	z-index: 15;
	width: 250px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 471px;
	padding: 26px 42px 19.299999999998818px 22px;
}

#u13921
{
	z-index: 114;
	width: 250px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#U13934_animation
{
	width: 250px;
	height: 240px;
	border: none;
}

#u13582-6
{
	z-index: 16;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u9569
{
	z-index: 67;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -82px;
	margin-top: 20px;
	position: relative;
	padding: 10px 63px 9.324999999998909px 16px;
}

#u13923
{
	z-index: 112;
	width: 980px;
	height: 140px;
	background-color: transparent;
	position: relative;
}

#U13926_animation
{
	width: 980px;
	height: 140px;
	border: none;
}

#u9576-6
{
	z-index: 75;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 4px;
	position: relative;
}

#u9568
{
	z-index: 66;
	width: 742px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 55px;
	margin-top: 21px;
	position: relative;
	padding: 19px 5px 13px 28px;
}

#u13924
{
	z-index: 115;
	width: 728px;
	height: 90px;
	background-color: transparent;
	margin-left: 14px;
	position: relative;
}

#U13938_animation
{
	width: 728px;
	height: 90px;
	border: none;
}

#u9577-6
{
	z-index: 81;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u13560-2,#u9574-2,#u13582-2,#u9576-2,#u9577-2
{
	font-size: 14px;
}

#u8135-4,#u8127-4,#u13787-4,#u13560-4,#u13789-4,#u9574-4,#u13582-4,#u9576-4,#u9577-4
{
	font-size: 12px;
	line-height: 14px;
}

#pu2381
{
	width: 0.01px;
	margin-left: 234px;
	margin-top: 63px;
}

#u2381
{
	z-index: 40;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2382
{
	z-index: 41;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2383-4
{
	z-index: 42;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u2384
{
	z-index: 46;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 295px;
}

#u2385
{
	z-index: 47;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2386-4
{
	z-index: 48;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 56px;
}

#page .verticalspacer
{
	clear: both;
}

