.version.mm___adforms_display /* version checker */
{
	color: #0000E0;
	background-color: #3A5443;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1994.7000000000007px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#top
{
	left: -100px;
	position: relative;
}

#u89
{
	z-index: 100;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 100;
}

#u92
{
	z-index: 101;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u574
{
	z-index: 102;
	width: 189px;
	padding-bottom: 47px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 103;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 107;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#u2218
{
	z-index: 35;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(-1,0,0,-1,32,32);
	-ms-transform: matrix(-1,0,0,-1,32,32);
	transform: matrix(-1,0,0,-1,32,32);
	top: 81px;
	left: 50%;
	margin-left: 360px;
}

#u2216
{
	z-index: 34;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(0,-1,1,0,0,32);
	-ms-transform: matrix(0,-1,1,0,0,32);
	transform: matrix(0,-1,1,0,0,32);
	top: 81px;
	left: 50%;
	margin-left: 404px;
}

#u2209-8
{
	z-index: 22;
	width: 871px;
	min-height: 159px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 45px;
	margin-top: 100px;
	position: relative;
}

#u2209-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2209
{
	font-size: 40px;
	line-height: 48px;
}

#u2209-5
{
	line-height: 19px;
}

#u2224
{
	z-index: 36;
	width: 283px;
	background-color: transparent;
	margin-left: 339px;
	margin-top: 13px;
	position: relative;
}

#u2214-4
{
	z-index: 30;
	width: 262px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 349px;
	margin-top: 5px;
	position: relative;
}

#u8134
{
	z-index: 65;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -44px;
	margin-top: 97px;
	position: relative;
	padding: 22px 35px 18px 21px;
}

#u13509
{
	z-index: 95;
	width: 980px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#U13525_animation
{
	width: 980px;
	height: 240px;
	border: none;
}

#u8135-6
{
	z-index: 66;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 7px;
	margin-top: 15px;
	position: relative;
}

#pu8126
{
	width: 0.01px;
	margin-left: -22px;
	margin-top: 30px;
}

#u8126
{
	z-index: 58;
	width: 329px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 15px 23px 12.410942249244556px 20px;
}

#u13512
{
	z-index: 96;
	width: 320px;
	height: 320px;
	background-color: transparent;
	margin-left: 9px;
	position: relative;
}

#U13529_animation
{
	width: 320px;
	height: 320px;
	border: none;
}

#u8127-6
{
	z-index: 59;
	width: 203px;
	min-height: 39px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u10826
{
	z-index: 15;
	width: 167px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 376px;
	padding: 15px 17px 15.460942249245932px 10px;
}

#u13515
{
	z-index: 99;
	width: 160px;
	height: 600px;
	background-color: transparent;
	margin-left: 7px;
	position: relative;
}

#U13541_animation
{
	width: 160px;
	height: 600px;
	border: none;
}

#u10827-6
{
	z-index: 16;
	width: 120px;
	min-height: 39px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 20px;
	position: relative;
}

#u8122
{
	z-index: 51;
	width: 303px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 588px;
	padding: 15px 13px 15.510942249244977px;
}

#u13513
{
	z-index: 97;
	width: 300px;
	height: 600px;
	background-color: transparent;
	margin-left: 3px;
	position: relative;
}

#U13533_animation
{
	width: 300px;
	height: 600px;
	border: none;
}

#u8123-6
{
	z-index: 52;
	width: 203px;
	min-height: 39px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 20px;
	position: relative;
}

#u9571
{
	z-index: 74;
	width: 307px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 7px;
	margin-top: 22px;
	position: relative;
	padding: 23px 48px 19px 22px;
}

#u13514
{
	z-index: 98;
	width: 300px;
	height: 250px;
	background-color: transparent;
	margin-left: 7px;
	position: relative;
}

#U13537_animation
{
	width: 300px;
	height: 250px;
	border: none;
}

#u9574-6
{
	z-index: 75;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u9569
{
	z-index: 73;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -80px;
	margin-top: 21px;
	position: relative;
	padding: 21px 57px 11px 22px;
}

#u13510
{
	z-index: 93;
	width: 980px;
	height: 120px;
	background-color: transparent;
	position: relative;
}

#U13517_animation
{
	width: 980px;
	height: 120px;
	border: none;
}

#u9576-6
{
	z-index: 81;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u9568
{
	z-index: 72;
	width: 736px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 57px;
	margin-top: 21px;
	position: relative;
	padding: 19px 11px 13px 28px;
}

#u13511
{
	z-index: 94;
	width: 728px;
	height: 90px;
	background-color: transparent;
	margin-left: 8px;
	position: relative;
}

#U13521_animation
{
	width: 728px;
	height: 90px;
	border: none;
}

#u9577-6
{
	z-index: 87;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u9574-2,#u9576-2,#u9577-2
{
	font-size: 14px;
}

#u8135-4,#u8127-4,#u10827-4,#u8123-4,#u9574-4,#u9576-4,#u9577-4
{
	font-size: 12px;
	line-height: 14px;
}

#pu2381
{
	width: 0.01px;
	margin-left: 234px;
	margin-top: 156px;
}

#u2381
{
	z-index: 39;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2382
{
	z-index: 40;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2383-4
{
	z-index: 41;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u2384
{
	z-index: 45;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 295px;
}

#u2385
{
	z-index: 46;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2386-4
{
	z-index: 47;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 56px;
}

#page .verticalspacer
{
	clear: both;
}

