.version.movehome___google_display_kopia /* version checker */
{
	color: #0000E2;
	background-color: #F66C56;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 930px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#toppen
{
	left: -100px;
	position: relative;
}

#u89
{
	z-index: 76;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 76;
}

#u92
{
	z-index: 77;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u436
{
	z-index: 84;
	top: 11px;
	left: 50%;
	margin-left: -343px;
}

#u574
{
	z-index: 78;
	width: 189px;
	padding-bottom: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 79;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 83;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#u3176
{
	z-index: 86;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(-1,0,0,-1,32,32);
	-ms-transform: matrix(-1,0,0,-1,32,32);
	transform: matrix(-1,0,0,-1,32,32);
	top: 81px;
	left: 50%;
	margin-left: 360px;
}

#u3178
{
	z-index: 85;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(0,-1,1,0,0,32);
	-ms-transform: matrix(0,-1,1,0,0,32);
	transform: matrix(0,-1,1,0,0,32);
	top: 81px;
	left: 50%;
	margin-left: 404px;
}

#u3181-13
{
	z-index: 15;
	width: 871px;
	min-height: 119px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	margin-left: 45px;
	margin-top: 100px;
	position: relative;
}

#u3181-9
{
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3181
{
	font-size: 40px;
	line-height: 48px;
}

#u3181-4
{
	line-height: 19px;
}

#u3181-8
{
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	line-height: 19px;
}

#u3181-11
{
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
}

#u3201
{
	z-index: 28;
	margin-left: 349px;
	margin-top: 32px;
	position: relative;
}

#u3198-4
{
	z-index: 49;
	width: 304px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	margin-left: 328px;
	margin-top: 7px;
	position: relative;
}

#u3182
{
	z-index: 29;
	width: 729px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 74px;
	margin-top: 20px;
	position: relative;
	padding: 19px 39px 11px 26px;
}

#u4105
{
	z-index: 53;
	width: 729px;
	height: 90px;
	background-color: transparent;
	position: relative;
}

#U4112_animation
{
	width: 729px;
	height: 90px;
	border: none;
}

#u3207-6
{
	z-index: 30;
	width: 332px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#pu4115
{
	width: 0.01px;
	margin-left: 101px;
	margin-top: 12px;
}

#u4115
{
	z-index: 54;
	width: 332px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 14px 35px 9.000000000000227px 17px;
}

#u4106
{
	z-index: 61;
	width: 320px;
	height: 240px;
	background-color: transparent;
	margin-left: 12px;
	position: relative;
}

#U6324_animation
{
	width: 320px;
	height: 240px;
	border: none;
}

#u4116-6
{
	z-index: 55;
	width: 332px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u4119
{
	z-index: 69;
	width: 384px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 411px;
}

#u4120-6
{
	z-index: 70;
	width: 332px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 17px;
}

#u4117
{
	z-index: 62;
	width: 794px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	padding-bottom: 11px;
	margin-left: 92px;
	margin-top: 39px;
	position: relative;
}

#u4118-6
{
	z-index: 63;
	width: 332px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 26px;
}

#u3207-4,#u4116-4,#u4120-4,#u4118-4
{
	font-size: 12px;
	line-height: 14px;
}

#pu3203
{
	width: 0.01px;
	margin-left: 336px;
	margin-top: 21px;
}

#u3203
{
	z-index: 36;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3204
{
	z-index: 37;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u3205-4
{
	z-index: 38;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u3183
{
	z-index: 42;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 231px;
}

#u3185
{
	z-index: 43;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u3184-4
{
	z-index: 44;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 57px;
}

#page .verticalspacer
{
	clear: both;
}

