.version.movehome___hemnet /* version checker */
{
	color: #00000F;
	background-color: #DF6D80;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2122px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#toppen
{
	left: -100px;
	position: relative;
}

#u89
{
	z-index: 89;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 89;
}

#u92
{
	z-index: 90;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u436
{
	z-index: 97;
	top: 11px;
	left: 50%;
	margin-left: -343px;
}

#u574
{
	z-index: 91;
	width: 189px;
	padding-bottom: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 92;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 96;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#u1547
{
	z-index: 99;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(-1,0,0,-1,32,32);
	-ms-transform: matrix(-1,0,0,-1,32,32);
	transform: matrix(-1,0,0,-1,32,32);
	top: 81px;
	left: 50%;
	margin-left: 360px;
}

#u1545
{
	z-index: 98;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(0,-1,1,0,0,32);
	-ms-transform: matrix(0,-1,1,0,0,32);
	transform: matrix(0,-1,1,0,0,32);
	top: 81px;
	left: 50%;
	margin-left: 404px;
}

#u1559-12
{
	z-index: 15;
	width: 871px;
	min-height: 119px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	margin-left: 45px;
	margin-top: 100px;
	position: relative;
}

#u1559-8
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1559
{
	font-size: 40px;
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	line-height: 48px;
}

#u1559-7
{
	line-height: 19px;
}

#u1606
{
	z-index: 40;
	margin-left: 357px;
	margin-top: 32px;
	position: relative;
}

#pu6479
{
	width: 0.01px;
	margin-left: 69px;
	margin-top: 79px;
}

#u6479
{
	z-index: 48;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 14px 14px 15px;
}

#u7462
{
	z-index: 84;
	width: 320px;
	height: 320px;
	background-color: transparent;
	position: relative;
}

#u6481-6
{
	z-index: 50;
	width: 285px;
	min-height: 31px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u6480
{
	z-index: 49;
	width: 285px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 529px;
	padding: 14px 12px 10px 20px;
}

#u7463
{
	z-index: 85;
	width: 250px;
	height: 720px;
	background-color: transparent;
	margin-left: 6px;
	position: relative;
}

#u6482-6
{
	z-index: 56;
	width: 285px;
	min-height: 31px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 17px;
	position: relative;
}

#u6477
{
	z-index: 41;
	width: 740px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 105px;
	margin-top: 19px;
	position: relative;
	padding: 17px 29px 17.085193065445367px 23px;
}

#u7461
{
	z-index: 83;
	width: 740px;
	height: 160px;
	background-color: transparent;
	position: relative;
}

#u6478-6
{
	z-index: 42;
	width: 712px;
	min-height: 32px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 14px;
	margin-top: 21px;
	position: relative;
}

#pu6805
{
	width: 0.01px;
	margin-left: 74px;
	margin-top: 43px;
}

#u6805
{
	z-index: 69;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 10px 14px 15px;
}

#u7477
{
	z-index: 86;
	width: 320px;
	height: 320px;
	background-color: transparent;
	position: relative;
}

#U7469_animation,#U7480_animation
{
	width: 320px;
	height: 320px;
	border: none;
}

#u6807-6
{
	z-index: 71;
	width: 285px;
	min-height: 31px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 13px;
	position: relative;
}

#u6806
{
	z-index: 70;
	width: 293px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 529px;
	padding: 10px 12px;
}

#u7478
{
	z-index: 88;
	width: 250px;
	height: 720px;
	background-color: transparent;
	position: relative;
}

#U7473_animation,#U7488_animation
{
	width: 250px;
	height: 720px;
	border: none;
}

#u6808-6
{
	z-index: 77;
	width: 285px;
	min-height: 31px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 8px;
	margin-top: 21px;
	position: relative;
}

#u6803
{
	z-index: 62;
	width: 740px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 110px;
	margin-top: 19px;
	position: relative;
	padding: 14px 21px 17.13519306544555px 31px;
}

#u7476
{
	z-index: 87;
	width: 740px;
	height: 160px;
	background-color: transparent;
	position: relative;
}

#U7465_animation,#U7484_animation
{
	width: 740px;
	height: 160px;
	border: none;
}

#u6804-6
{
	z-index: 63;
	width: 712px;
	min-height: 32px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 24px;
	position: relative;
}

#u6481-4,#u6482-4,#u6478-4,#u6807-4,#u6808-4,#u6804-4
{
	font-size: 12px;
	line-height: 14px;
}

#pu1580
{
	width: 0.01px;
	margin-left: 285px;
	margin-top: 81px;
}

#u1580
{
	z-index: 27;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1582
{
	z-index: 28;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u1581-4
{
	z-index: 29;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u1560
{
	z-index: 33;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 231px;
}

#u1561
{
	z-index: 34;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u1562-4
{
	z-index: 35;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

