.version.movehome___adforms_display /* version checker */
{
	color: #000002;
	background-color: #6AA92E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#pu89
{
	width: 0.01px;
	padding-bottom: 56px;
	margin-left: -100px;
}

#u89
{
	z-index: 132;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 132;
}

#u92
{
	z-index: 133;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u436
{
	z-index: 140;
	top: 11px;
	left: 50%;
	margin-left: -343px;
}

#u574
{
	z-index: 134;
	width: 189px;
	padding-bottom: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 135;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 139;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#top
{
	left: -100px;
	top: -56px;
	margin-bottom: -18px;
	position: relative;
}

#u2218
{
	z-index: 73;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(-1,0,0,-1,32,32);
	-ms-transform: matrix(-1,0,0,-1,32,32);
	transform: matrix(-1,0,0,-1,32,32);
	top: 81px;
	left: 50%;
	margin-left: 360px;
}

#u2216
{
	z-index: 72;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(0,-1,1,0,0,32);
	-ms-transform: matrix(0,-1,1,0,0,32);
	transform: matrix(0,-1,1,0,0,32);
	top: 81px;
	left: 50%;
	margin-left: 404px;
}

#u2209-8
{
	z-index: 60;
	width: 871px;
	min-height: 159px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	margin-left: 45px;
	margin-top: 62px;
	position: relative;
}

#u2209-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2209
{
	font-size: 40px;
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	line-height: 48px;
}

#u2209-5
{
	line-height: 19px;
}

#u2224
{
	z-index: 74;
	width: 283px;
	background-color: transparent;
	margin-left: 339px;
	margin-top: 13px;
	position: relative;
}

#u2214-4
{
	z-index: 68;
	width: 262px;
	min-height: 37px;
	background-color: transparent;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	margin-left: 349px;
	margin-top: 5px;
	position: relative;
}

#u4848
{
	z-index: 22;
	width: 998px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -9px;
	margin-top: 16px;
	position: relative;
	padding: 8px 28px 9px 14px;
}

#u5554
{
	z-index: 127;
	width: 980px;
	height: 300px;
	background-color: transparent;
	margin-left: 18px;
	position: relative;
}

#U5561_animation
{
	width: 980px;
	height: 300px;
	border: none;
}

#u4849-6
{
	z-index: 115;
	width: 165px;
	min-height: 31px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#ppu3645
{
	width: 0.01px;
	margin-left: 68px;
	margin-top: 15px;
}

#pu3645
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 332px;
}

#u3645
{
	z-index: 58;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	padding: 11px 22px 12px 14px;
}

#u5550
{
	z-index: 122;
	width: 320px;
	height: 320px;
	background-color: transparent;
	left: -1px;
	position: relative;
}

#U5556_animation
{
	width: 320px;
	height: 320px;
	border: none;
}

#u3499-6
{
	z-index: 89;
	width: 171px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	left: -1px;
	margin-top: 12px;
	position: relative;
}

#u4659
{
	z-index: 51;
	width: 314px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 67px;
	position: relative;
	padding: 29px 28px 11px 14px;
}

#u5551
{
	z-index: 124;
	width: 300px;
	height: 250px;
	background-color: transparent;
	margin-left: 14px;
	position: relative;
}

#U5558_animation
{
	width: 300px;
	height: 250px;
	border: none;
}

#u4660-6
{
	z-index: 52;
	width: 171px;
	min-height: 31px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	left: -1px;
	margin-top: 34px;
	position: relative;
}

#ppu4850
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 399px;
}

#pu4850
{
	width: 0.01px;
}

#u4850
{
	z-index: 15;
	width: 250px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 10px 12px 33.04096811012141px;
}

#u5553
{
	z-index: 126;
	width: 250px;
	height: 800px;
	background-color: transparent;
	position: relative;
}

#U5560_animation
{
	width: 250px;
	height: 800px;
	border: none;
}

#u4851-6
{
	z-index: 16;
	width: 209px;
	min-height: 30px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 5px;
	margin-top: 15px;
	position: relative;
}

#u4562
{
	z-index: 59;
	width: 171px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 353px;
	left: 307px;
	padding: 22px 20px 15px 23px;
}

#u5548
{
	z-index: 123;
	width: 160px;
	height: 600px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#U5557_animation
{
	width: 160px;
	height: 600px;
	border: none;
}

#u4563-6
{
	z-index: 95;
	width: 171px;
	min-height: 31px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 24px;
	position: relative;
}

#u4661
{
	z-index: 44;
	width: 264px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 99px;
	margin-top: 44px;
	position: relative;
	padding: 23px 32px 19.479434447301742px 19px;
}

#u5552
{
	z-index: 125;
	width: 250px;
	height: 360px;
	background-color: transparent;
	margin-left: 14px;
	position: relative;
}

#U5559_animation
{
	width: 250px;
	height: 360px;
	border: none;
}

#u4662-6
{
	z-index: 45;
	width: 171px;
	min-height: 31px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 34px;
	position: relative;
}

#u4565
{
	z-index: 101;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -40px;
	margin-top: 34px;
	position: relative;
	padding: 17px 4px 30px 26px;
}

#u5549
{
	z-index: 121;
	width: 980px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#u4566-6
{
	z-index: 102;
	width: 171px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u4678
{
	z-index: 37;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -34px;
	margin-top: 24px;
	position: relative;
	padding: 15px 4px 15.450000000000273px 26px;
}

#u5644
{
	z-index: 131;
	width: 980px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#U5555_animation,#U5646_animation
{
	width: 980px;
	height: 240px;
	border: none;
}

#u4679-6
{
	z-index: 38;
	width: 171px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#ppu4680
{
	width: 0.01px;
	margin-left: -27px;
	margin-top: 13px;
}

#pu4680
{
	width: 0.01px;
	margin-right: -10000px;
}

#u4680
{
	z-index: 108;
	width: 480px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	padding: 11px 23px 15.200000000000273px;
}

#u5563
{
	z-index: 129;
	width: 480px;
	height: 250px;
	background-color: transparent;
	position: relative;
}

#U5574_animation
{
	width: 480px;
	height: 250px;
	border: none;
}

#u4681-6
{
	z-index: 109;
	width: 171px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 3px;
	margin-top: 7px;
	position: relative;
}

#u4689
{
	z-index: 23;
	width: 250px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 9px;
	margin-top: 38px;
	position: relative;
	padding: 14px 35px 15px 26px;
}

#u5577
{
	z-index: 130;
	width: 250px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#U5579_animation
{
	width: 250px;
	height: 240px;
	border: none;
}

#u4690-6
{
	z-index: 24;
	width: 171px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u4682
{
	z-index: 30;
	width: 315px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 616px;
	padding: 24px 27px 13.200000000000273px 12px;
}

#u5564
{
	z-index: 128;
	width: 300px;
	height: 600px;
	background-color: transparent;
	margin-left: 15px;
	position: relative;
}

#U5570_animation
{
	width: 300px;
	height: 600px;
	border: none;
}

#u4683-6
{
	z-index: 31;
	width: 171px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#u4849-4,#u3499-4,#u4660-4,#u4851-4,#u4563-4,#u4662-4,#u4566-4,#u4679-4,#u4681-4,#u4690-4,#u4683-4
{
	font-size: 12px;
	line-height: 14px;
}

#pu2381
{
	width: 0.01px;
	margin-left: 262px;
	margin-top: 33px;
}

#u2381
{
	z-index: 77;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2382
{
	z-index: 78;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2383-4
{
	z-index: 79;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u2384
{
	z-index: 83;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 246px;
}

#u2385
{
	z-index: 84;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2386-4
{
	z-index: 85;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 56px;
}

#page .verticalspacer
{
	clear: both;
}

