.version.movehome___google_display /* version checker */
{
	color: #0000F8;
	background-color: #84529B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2705px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#pu89
{
	width: 0.01px;
	padding-bottom: 56px;
	margin-left: -100px;
}

#u89
{
	z-index: 102;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 102;
}

#u92
{
	z-index: 103;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u436
{
	z-index: 110;
	top: 11px;
	left: 50%;
	margin-left: -343px;
}

#u574
{
	z-index: 104;
	width: 189px;
	padding-bottom: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 105;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 109;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#toppen
{
	left: -100px;
	top: -56px;
	margin-bottom: -18px;
	position: relative;
}

#u631
{
	z-index: 112;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(-1,0,0,-1,32,32);
	-ms-transform: matrix(-1,0,0,-1,32,32);
	transform: matrix(-1,0,0,-1,32,32);
	top: 81px;
	left: 50%;
	margin-left: 360px;
}

#u629
{
	z-index: 111;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(0,-1,1,0,0,32);
	-ms-transform: matrix(0,-1,1,0,0,32);
	transform: matrix(0,-1,1,0,0,32);
	top: 81px;
	left: 50%;
	margin-left: 404px;
}

#u241-13
{
	z-index: 15;
	width: 871px;
	min-height: 119px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	margin-left: 45px;
	margin-top: 62px;
	position: relative;
}

#u241-9
{
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u241
{
	font-size: 40px;
	line-height: 48px;
}

#u241-4
{
	line-height: 19px;
}

#u241-8
{
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	line-height: 19px;
}

#u241-11
{
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
}

#u375
{
	z-index: 28;
	margin-left: 349px;
	margin-top: 32px;
	position: relative;
}

#u1038-4
{
	z-index: 91;
	width: 304px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	margin-left: 328px;
	margin-top: 7px;
	position: relative;
}

#ppu441
{
	width: 0.01px;
	margin-left: 74px;
	margin-top: 7px;
}

#pu441
{
	width: 0.01px;
	margin-right: -10000px;
}

#u441
{
	z-index: 29;
	width: 332px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	padding: 29px 8px 32px;
}

#u3607
{
	z-index: 96;
	width: 300px;
	height: 250px;
	background-color: transparent;
	margin-left: 12px;
	position: relative;
}

#U6298_animation
{
	width: 300px;
	height: 250px;
	border: none;
}

#u442-6
{
	z-index: 30;
	width: 332px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 20px;
	position: relative;
}

#u447
{
	z-index: 43;
	width: 345px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 144px;
	position: relative;
	padding: 20px 7px 24.450000000000273px 8px;
}

#u3605
{
	z-index: 98;
	width: 320px;
	height: 50px;
	background-color: transparent;
	margin-left: 6px;
	position: relative;
}

#U6319_animation
{
	width: 320px;
	height: 50px;
	border: none;
}

#u448-6
{
	z-index: 44;
	width: 345px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 20px;
	position: relative;
}

#u444
{
	z-index: 36;
	width: 345px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 451px;
	padding: 33px 7px 26.050000000000182px 8px;
}

#u3606
{
	z-index: 97;
	width: 300px;
	height: 600px;
	background-color: transparent;
	margin-left: 22px;
	position: relative;
}

#U3755_animation
{
	width: 300px;
	height: 600px;
	border: none;
}

#u445-6
{
	z-index: 37;
	width: 345px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u453
{
	z-index: 57;
	width: 593px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 74px;
	margin-top: 90px;
	position: relative;
	padding: 24px 21px 34px 8px;
}

#u3603
{
	z-index: 95;
	width: 580px;
	height: 400px;
	background-color: transparent;
	margin-left: 13px;
	position: relative;
}

#U3613_animation
{
	width: 580px;
	height: 400px;
	border: none;
}

#u454-6
{
	z-index: 58;
	width: 345px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 17px;
	position: relative;
}

#u450
{
	z-index: 50;
	width: 468px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 74px;
	margin-top: 82px;
	position: relative;
	padding: 23px 33px 22px 8px;
}

#u3724
{
	z-index: 100;
	width: 468px;
	height: 60px;
	background-color: transparent;
	position: relative;
}

#U3726_animation
{
	width: 468px;
	height: 60px;
	border: none;
}

#u451-6
{
	z-index: 51;
	width: 345px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u469
{
	z-index: 70;
	width: 728px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 74px;
	margin-top: 94px;
	position: relative;
	padding: 22px 35px 18px 8px;
}

#u3729
{
	z-index: 101;
	width: 728px;
	height: 90px;
	background-color: transparent;
	position: relative;
}

#U3731_animation
{
	width: 728px;
	height: 90px;
	border: none;
}

#u470-6
{
	z-index: 71;
	width: 345px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 20px;
	position: relative;
}

#u472
{
	z-index: 77;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -35px;
	margin-top: 96px;
	position: relative;
	padding: 20px 25px 28px;
}

#u3719
{
	z-index: 99;
	width: 980px;
	height: 120px;
	background-color: transparent;
	position: relative;
}

#U3721_animation
{
	width: 980px;
	height: 120px;
	border: none;
}

#u473-6
{
	z-index: 78;
	width: 345px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 92px;
	margin-top: 24px;
	position: relative;
}

#u442-4,#u448-4,#u445-4,#u454-4,#u451-4,#u470-4,#u473-4
{
	font-size: 12px;
	line-height: 14px;
}

#pu466
{
	width: 0.01px;
	margin-left: 289px;
	margin-top: 77px;
}

#u466
{
	z-index: 64;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u467
{
	z-index: 65;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u468-4
{
	z-index: 66;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u477
{
	z-index: 84;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 231px;
}

#u478
{
	z-index: 85;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u479-4
{
	z-index: 86;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
	margin-top: 49px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

