.version.movehome___adform_remarketing /* version checker */
{
	color: #000016;
	background-color: #B77555;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1715.5px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#top
{
	left: -100px;
	position: relative;
}

#u89
{
	z-index: 84;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 84;
}

#u92
{
	z-index: 85;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u436
{
	z-index: 92;
	top: 11px;
	left: 50%;
	margin-left: -343px;
}

#u574
{
	z-index: 86;
	width: 189px;
	padding-bottom: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 87;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 91;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#u2518
{
	z-index: 63;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(-1,0,0,-1,32,32);
	-ms-transform: matrix(-1,0,0,-1,32,32);
	transform: matrix(-1,0,0,-1,32,32);
	top: 81px;
	left: 50%;
	margin-left: 360px;
}

#u2533
{
	z-index: 62;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(0,-1,1,0,0,32);
	-ms-transform: matrix(0,-1,1,0,0,32);
	transform: matrix(0,-1,1,0,0,32);
	top: 81px;
	left: 50%;
	margin-left: 404px;
}

#u2521-8
{
	z-index: 22;
	width: 871px;
	min-height: 159px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	margin-left: 45px;
	margin-top: 100px;
	position: relative;
}

#u2521-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2521
{
	font-size: 40px;
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	line-height: 48px;
}

#u2521-5
{
	line-height: 19px;
}

#u2522
{
	z-index: 64;
	width: 283px;
	background-color: transparent;
	margin-left: 339px;
	margin-top: 13px;
	position: relative;
}

#u2540-4
{
	z-index: 58;
	width: 262px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	margin-left: 349px;
	margin-top: 5px;
	position: relative;
}

#ppu2526
{
	width: 0.01px;
	margin-left: 68px;
	margin-top: 7px;
}

#pu2526
{
	width: 0.01px;
	margin-right: -10000px;
}

#u2526
{
	z-index: 30;
	width: 312px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	padding: 29px 28px 16px 14px;
}

#u5585
{
	z-index: 81;
	width: 300px;
	height: 250px;
	background-color: transparent;
	margin-left: 12px;
	position: relative;
}

#U5600_animation
{
	width: 300px;
	height: 250px;
	border: none;
}

#u2513-6
{
	z-index: 34;
	width: 312px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 20px;
	position: relative;
}

#u2532
{
	z-index: 33;
	width: 266px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 33px;
	position: relative;
	padding: 27px 29px 13px 14px;
}

#u5586
{
	z-index: 79;
	width: 250px;
	height: 360px;
	background-color: transparent;
	margin-left: 16px;
	position: relative;
}

#U5592_animation
{
	width: 250px;
	height: 360px;
	border: none;
}

#u2525-6
{
	z-index: 52;
	width: 262px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 22px;
	position: relative;
}

#pu2543
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 460px;
}

#u2543
{
	z-index: 31;
	width: 176px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 136px;
	position: relative;
	padding: 29px 29px 14.000000000000455px 14px;
}

#u5582
{
	z-index: 80;
	width: 160px;
	height: 600px;
	background-color: transparent;
	margin-left: 16px;
	position: relative;
}

#U5596_animation
{
	width: 160px;
	height: 600px;
	border: none;
}

#u2542-6
{
	z-index: 40;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 20px;
	position: relative;
}

#u4716
{
	z-index: 15;
	width: 325px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 17px;
	position: relative;
	padding: 12px 21px 12.3601480263153px 16px;
}

#u5584
{
	z-index: 82;
	width: 320px;
	height: 320px;
	background-color: transparent;
	margin-left: 5px;
	position: relative;
}

#U5604_animation
{
	width: 320px;
	height: 320px;
	border: none;
}

#u4717-6
{
	z-index: 16;
	width: 208px;
	min-height: 31px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u2541
{
	z-index: 32;
	width: 983px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -38px;
	margin-top: 14px;
	position: relative;
	padding: 24px 38px 13.000000000000455px 14px;
}

#u5614
{
	z-index: 83;
	width: 980px;
	height: 240px;
	background-color: transparent;
	margin-left: 3px;
	position: relative;
}

#U5616_animation
{
	width: 980px;
	height: 240px;
	border: none;
}

#u2512-6
{
	z-index: 46;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 20px;
	position: relative;
}

#u2525-2,#u2542-2,#u4717-2,#u2512-2
{
	font-size: 14px;
}

#u2513-4,#u2525-4,#u2542-4,#u4717-4,#u2512-4
{
	font-size: 12px;
	line-height: 14px;
}

#pu2536
{
	width: 0.01px;
	margin-left: 301px;
	margin-top: 63px;
}

#u2536
{
	z-index: 67;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2537
{
	z-index: 68;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2538-4
{
	z-index: 69;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u2528
{
	z-index: 73;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 231px;
}

#u2530
{
	z-index: 74;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2529-4
{
	z-index: 75;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	margin-bottom: -1px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
	margin-top: -1px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

