.version.movehome___adforms_remarketing /* version checker */
{
	color: #000006;
	background-color: #647249;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1716px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#pu89
{
	width: 0.01px;
	padding-bottom: 58px;
	margin-left: -100px;
}

#u89
{
	z-index: 60;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 60;
}

#u92
{
	z-index: 61;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u574
{
	z-index: 62;
	width: 189px;
	padding-bottom: 47px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 63;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 67;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#top
{
	left: -100px;
	top: -58px;
	margin-bottom: -18px;
	position: relative;
}

#u2518
{
	z-index: 28;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(-1,0,0,-1,32,32);
	-ms-transform: matrix(-1,0,0,-1,32,32);
	transform: matrix(-1,0,0,-1,32,32);
	top: 81px;
	left: 50%;
	margin-left: 360px;
}

#u2533
{
	z-index: 27;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(0,-1,1,0,0,32);
	-ms-transform: matrix(0,-1,1,0,0,32);
	transform: matrix(0,-1,1,0,0,32);
	top: 81px;
	left: 50%;
	margin-left: 404px;
}

#u2521-8
{
	z-index: 15;
	width: 871px;
	min-height: 159px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 45px;
	margin-top: 60px;
	position: relative;
}

#u2521-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2521
{
	font-size: 40px;
	line-height: 48px;
}

#u2521-5
{
	line-height: 19px;
}

#u2522
{
	z-index: 29;
	width: 283px;
	background-color: transparent;
	margin-left: 339px;
	margin-top: 13px;
	position: relative;
}

#u2540-4
{
	z-index: 23;
	width: 262px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 349px;
	margin-top: 5px;
	position: relative;
}

#u10860
{
	z-index: 44;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 10px;
	margin-top: 72px;
	position: relative;
	padding: 12px 32px 12.598442249245238px 20px;
}

#u14073
{
	z-index: 59;
	width: 320px;
	height: 320px;
	background-color: transparent;
	position: relative;
}

#U14079_animation
{
	width: 320px;
	height: 320px;
	border: none;
}

#u10861-6
{
	z-index: 45;
	width: 203px;
	min-height: 39px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 21px;
	position: relative;
}

#u14005
{
	z-index: 51;
	width: 695px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 66px;
	margin-top: 227px;
	position: relative;
	padding: 11px 73px 21.200000000001637px 34px;
}

#u14072
{
	z-index: 58;
	width: 690px;
	height: 480px;
	background-color: transparent;
	margin-left: 5px;
	position: relative;
}

#U14075_animation
{
	width: 690px;
	height: 480px;
	border: none;
}

#u14006-6
{
	z-index: 52;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u10861-4,#u14006-4
{
	font-size: 12px;
	line-height: 14px;
}

#pu2536
{
	width: 0.01px;
	margin-left: 213px;
	margin-top: 404px;
}

#u2536
{
	z-index: 32;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2537
{
	z-index: 33;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2538-4
{
	z-index: 34;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u2528
{
	z-index: 38;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 231px;
}

#u2530
{
	z-index: 39;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2529-4
{
	z-index: 40;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

