.version.powel /* version checker */
{
	color: #0000EA;
	background-color: #E98A45;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.5500000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#pu89
{
	width: 0.01px;
	padding-bottom: 56px;
	margin-left: -100px;
}

#u89
{
	z-index: 63;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 63;
}

#u92
{
	z-index: 64;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u574
{
	z-index: 65;
	width: 189px;
	padding-bottom: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 66;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 70;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#u10990
{
	z-index: 20;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -60px;
	margin-top: 29px;
	position: relative;
	padding: 24px 33px 15.450000000000784px 23px;
}

#u11081
{
	z-index: 60;
	width: 980px;
	height: 300px;
	background-color: transparent;
	position: relative;
}

#U11100_animation
{
	width: 980px;
	height: 300px;
	border: none;
}

#u10991-6
{
	z-index: 21;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
}

#ppu10989
{
	width: 0.01px;
	margin-left: -60px;
	margin-top: 16px;
}

#pu10989
{
	width: 0.01px;
	margin-right: -10000px;
}

#u10989
{
	z-index: 19;
	width: 300px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	padding: 10px 20px 5px 9px;
}

#u11086
{
	z-index: 59;
	width: 300px;
	height: 250px;
	background-color: transparent;
	position: relative;
}

#U11096_animation
{
	width: 300px;
	height: 250px;
	border: none;
}

#u10992-6
{
	z-index: 27;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 7px;
	margin-top: 7px;
	position: relative;
}

#u10985
{
	z-index: 15;
	width: 303px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 4px;
	margin-top: 13px;
	position: relative;
	padding: 16px 34px 9.049999999999045px 15px;
}

#u11083
{
	z-index: 61;
	width: 300px;
	height: 600px;
	background-color: transparent;
	position: relative;
}

#U11104_animation
{
	width: 300px;
	height: 600px;
	border: none;
}

#u10995-6
{
	z-index: 45;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 10px;
	position: relative;
}

#pu10988
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 362px;
}

#u10988
{
	z-index: 18;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	padding: 10px 22px 9px 19px;
}

#u11082
{
	z-index: 57;
	width: 320px;
	height: 250px;
	background-color: transparent;
	left: -1px;
	position: relative;
}

#U11088_animation
{
	width: 320px;
	height: 250px;
	border: none;
}

#u10993-6
{
	z-index: 33;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	margin-top: 7px;
	position: relative;
}

#pu10986
{
	width: 0.01px;
	margin-left: 69px;
	margin-top: 9px;
}

#u10986
{
	z-index: 16;
	width: 190px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u10996-6
{
	z-index: 51;
	width: 160px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 616px;
	left: 16px;
}

#u11084
{
	z-index: 62;
	width: 160px;
	height: 600px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 15px;
}

#U11108_animation
{
	width: 160px;
	height: 600px;
	border: none;
}

#u10987
{
	z-index: 17;
	width: 308px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 732px;
	padding: 10px 38px 7px 15px;
}

#u11085
{
	z-index: 58;
	width: 300px;
	height: 300px;
	background-color: transparent;
	margin-left: 8px;
	position: relative;
}

#U11092_animation
{
	width: 300px;
	height: 300px;
	border: none;
}

#u10994-6
{
	z-index: 39;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u10991-4,#u10992-4,#u10995-4,#u10993-4,#u10996-4,#u10994-4
{
	font-size: 12px;
	line-height: 14px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

