.version.tr___adform_display /* version checker */
{
	color: #000005;
	background-color: #B1DA2E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2390px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#pu89
{
	width: 0.01px;
	padding-bottom: 56px;
	margin-left: -100px;
}

#u89
{
	z-index: 166;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 166;
}

#u92
{
	z-index: 167;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u436
{
	z-index: 174;
	top: 11px;
	left: 50%;
	margin-left: -343px;
}

#u574
{
	z-index: 168;
	width: 189px;
	padding-bottom: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 169;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 173;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#top
{
	left: -96px;
	top: -56px;
	margin-bottom: -18px;
	position: relative;
}

#u2361
{
	z-index: 102;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(-1,0,0,-1,32,32);
	-ms-transform: matrix(-1,0,0,-1,32,32);
	transform: matrix(-1,0,0,-1,32,32);
	top: 81px;
	left: 50%;
	margin-left: 360px;
}

#u2359
{
	z-index: 101;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(0,-1,1,0,0,32);
	-ms-transform: matrix(0,-1,1,0,0,32);
	transform: matrix(0,-1,1,0,0,32);
	top: 81px;
	left: 50%;
	margin-left: 404px;
}

#u2296-8
{
	z-index: 87;
	width: 871px;
	min-height: 159px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 45px;
	margin-top: 62px;
	position: relative;
}

#u2296-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2296
{
	font-size: 40px;
	line-height: 48px;
}

#u2296-5
{
	line-height: 19px;
}

#u2304
{
	z-index: 99;
	width: 283px;
	background-color: transparent;
	margin-left: 339px;
	margin-top: 13px;
	position: relative;
}

#u2303-4
{
	z-index: 95;
	width: 262px;
	min-height: 37px;
	background-color: transparent;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 349px;
	margin-top: 5px;
	position: relative;
}

#u7829
{
	z-index: 110;
	width: 1253px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -179px;
	margin-top: 115px;
	position: relative;
	padding: 14px 34px 13.400000000000546px 30px;
}

#u9194
{
	z-index: 164;
	width: 1250px;
	height: 360px;
	background-color: transparent;
	margin-left: 3px;
	position: relative;
}

#U9197_animation
{
	width: 1250px;
	height: 360px;
	border: none;
}

#u7830-6
{
	z-index: 111;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u7836
{
	z-index: 117;
	width: 1254px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -179px;
	margin-top: 29px;
	position: relative;
	padding: 20px 34px 21.450000000001864px 29px;
}

#u9177
{
	z-index: 163;
	width: 1250px;
	height: 240px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#U9187_animation
{
	width: 1250px;
	height: 240px;
	border: none;
}

#u7837-6
{
	z-index: 118;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 17px;
	position: relative;
}

#pu7874
{
	width: 0.01px;
	margin-left: 82px;
	margin-top: 63px;
}

#u7874
{
	z-index: 73;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	padding: 16px 32px 16.71094224924431px 20px;
}

#u9195
{
	z-index: 165;
	width: 320px;
	height: 160px;
	background-color: transparent;
	position: relative;
}

#U9201_animation
{
	width: 320px;
	height: 160px;
	border: none;
}

#u7875-6
{
	z-index: 74;
	width: 203px;
	min-height: 39px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 26px;
	position: relative;
}

#u7876
{
	z-index: 66;
	width: 258px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 527px;
	padding: 20px 21px 18.610942249244886px 24px;
}

#u9174
{
	z-index: 162;
	width: 250px;
	height: 800px;
	background-color: transparent;
	margin-left: 8px;
	position: relative;
}

#U9179_animation
{
	width: 250px;
	height: 800px;
	border: none;
}

#u7877-6
{
	z-index: 67;
	width: 203px;
	min-height: 39px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 21px;
	position: relative;
}

#u7843
{
	z-index: 124;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -39px;
	margin-top: 325px;
	position: relative;
	padding: 8px 32px 26px 24px;
}

#u9091
{
	z-index: 151;
	width: 980px;
	height: 300px;
	background-color: transparent;
	position: relative;
}

#U9101_animation
{
	width: 980px;
	height: 300px;
	border: none;
}

#u7844-6
{
	z-index: 125;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 24px;
	position: relative;
}

#u7850
{
	z-index: 131;
	width: 981px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -39px;
	margin-top: 27px;
	position: relative;
	padding: 11px 32px 20px 23px;
}

#u9092
{
	z-index: 150;
	width: 980px;
	height: 240px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#U9097_animation
{
	width: 980px;
	height: 240px;
	border: none;
}

#u7851-6
{
	z-index: 132;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 24px;
	position: relative;
}

#pu8501
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 38px;
}

#u8501
{
	z-index: 15;
	width: 260px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 13px 46px 20px 10px;
}

#u9169
{
	z-index: 161;
	width: 250px;
	height: 600px;
	background-color: transparent;
	margin-left: 10px;
	position: relative;
}

#U9171_animation
{
	width: 250px;
	height: 600px;
	border: none;
}

#u8502-6
{
	z-index: 144;
	width: 222px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u7872
{
	z-index: 80;
	width: 324px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 452px;
	padding: 17px 28px 12.660942249243874px 20px;
}

#u9093
{
	z-index: 152;
	width: 320px;
	height: 320px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#U9121_animation
{
	width: 320px;
	height: 320px;
	border: none;
}

#u7873-6
{
	z-index: 81;
	width: 203px;
	min-height: 39px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u8004
{
	z-index: 23;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -21px;
	margin-top: 91px;
	position: relative;
	padding: 11px 10px 13.00000000000091px 26px;
}

#u9124
{
	z-index: 157;
	width: 980px;
	height: 140px;
	background-color: transparent;
	position: relative;
}

#U9146_animation
{
	width: 980px;
	height: 140px;
	border: none;
}

#u8005-6
{
	z-index: 25;
	width: 222px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u8006
{
	z-index: 24;
	width: 728px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 39px;
	margin-top: 22px;
	position: relative;
	padding: 10px 27px 9px 11px;
}

#u9125
{
	z-index: 156;
	width: 728px;
	height: 90px;
	background-color: transparent;
	position: relative;
}

#U9142_animation
{
	width: 728px;
	height: 90px;
	border: none;
}

#u8007-6
{
	z-index: 138;
	width: 222px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#pu8002
{
	width: 0.01px;
	margin-left: 53px;
	margin-top: 12px;
}

#u8002
{
	z-index: 32;
	width: 261px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 23px 37px 11.471732522797538px 9px;
}

#u9127
{
	z-index: 153;
	width: 250px;
	height: 360px;
	background-color: transparent;
	margin-left: 11px;
	position: relative;
}

#U9130_animation
{
	width: 250px;
	height: 360px;
	border: none;
}

#u8003-6
{
	z-index: 39;
	width: 167px;
	min-height: 36px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#pu8000
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 64px;
	margin-left: 427px;
}

#u8000
{
	z-index: 31;
	width: 326px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	padding: 13px 16px 18px 9px;
}

#u9126
{
	z-index: 154;
	width: 320px;
	height: 240px;
	background-color: transparent;
	margin-left: 6px;
	position: relative;
}

#U9134_animation
{
	width: 320px;
	height: 240px;
	border: none;
}

#u8001-6
{
	z-index: 33;
	width: 167px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 24px;
	position: relative;
}

#u8445
{
	z-index: 16;
	width: 250px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 20px;
	margin-top: 13px;
	position: relative;
	padding: 8px 44px 26px 30px;
}

#u9128
{
	z-index: 155;
	width: 250px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#U9138_animation
{
	width: 250px;
	height: 240px;
	border: none;
}

#u8446-6
{
	z-index: 17;
	width: 167px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 21px;
	position: relative;
}

#u7974
{
	z-index: 59;
	width: 737px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 51px;
	margin-top: 32px;
	position: relative;
	padding: 13px 28px 18.25000000000182px 21px;
}

#u9151
{
	z-index: 158;
	width: 730px;
	height: 250px;
	background-color: transparent;
	margin-left: 7px;
	position: relative;
}

#U9154_animation
{
	width: 730px;
	height: 250px;
	border: none;
}

#u7975-6
{
	z-index: 60;
	width: 222px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#pu7976
{
	width: 0.01px;
	margin-left: 57px;
	margin-top: 59px;
}

#u7976
{
	z-index: 45;
	width: 306px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 16px 36px 18.150000000001455px 9px;
}

#u9149
{
	z-index: 159;
	width: 300px;
	height: 250px;
	background-color: transparent;
	margin-left: 6px;
	position: relative;
}

#U9158_animation
{
	width: 300px;
	height: 250px;
	border: none;
}

#u7977-6
{
	z-index: 47;
	width: 167px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u7978
{
	z-index: 46;
	width: 327px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 421px;
	padding: 16px 15px 18.150000000001455px 9px;
}

#u9150
{
	z-index: 160;
	width: 320px;
	height: 250px;
	background-color: transparent;
	margin-left: 7px;
	position: relative;
}

#U9162_animation
{
	width: 320px;
	height: 250px;
	border: none;
}

#u7979-6
{
	z-index: 53;
	width: 167px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u7830-4,#u7837-4,#u7875-4,#u7877-4,#u7844-4,#u7851-4,#u8502-4,#u7873-4,#u8005-4,#u8007-4,#u8003-4,#u8001-4,#u8446-4,#u7975-4,#u7977-4,#u7979-4
{
	font-size: 12px;
	line-height: 14px;
}

#u2378
{
	z-index: 104;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 511px;
	margin-top: 198px;
	position: relative;
}

#u2379
{
	z-index: 105;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2380-4
{
	z-index: 106;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

