.version.tr___adform_display /* version checker */
{
	color: #0000F9;
	background-color: #C95EEC;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2390px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#pu89
{
	width: 0.01px;
	padding-bottom: 58px;
	margin-left: -100px;
}

#u89
{
	z-index: 81;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 81;
}

#u92
{
	z-index: 82;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u574
{
	z-index: 83;
	width: 189px;
	padding-bottom: 47px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 84;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 88;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#top
{
	left: -96px;
	top: -58px;
	margin-bottom: -18px;
	position: relative;
}

#u2361
{
	z-index: 30;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(-1,0,0,-1,32,32);
	-ms-transform: matrix(-1,0,0,-1,32,32);
	transform: matrix(-1,0,0,-1,32,32);
	top: 81px;
	left: 50%;
	margin-left: 360px;
}

#u2359
{
	z-index: 29;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(0,-1,1,0,0,32);
	-ms-transform: matrix(0,-1,1,0,0,32);
	transform: matrix(0,-1,1,0,0,32);
	top: 81px;
	left: 50%;
	margin-left: 404px;
}

#u2296-8
{
	z-index: 15;
	width: 871px;
	min-height: 159px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 45px;
	margin-top: 60px;
	position: relative;
}

#u2296-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2296
{
	font-size: 40px;
	line-height: 48px;
}

#u2296-5
{
	line-height: 19px;
}

#u2304
{
	z-index: 27;
	width: 283px;
	background-color: transparent;
	margin-left: 339px;
	margin-top: 13px;
	position: relative;
}

#u2303-4
{
	z-index: 23;
	width: 262px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 349px;
	margin-top: 5px;
	position: relative;
}

#pu13836
{
	width: 0.01px;
	margin-left: 63px;
	margin-top: 35px;
}

#u13836
{
	z-index: 61;
	width: 372px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u13837-6
{
	z-index: 62;
	width: 203px;
	min-height: 39px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 353px;
	left: 20px;
}

#u13839
{
	z-index: 74;
	width: 372px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
	left: 393px;
}

#u13840-6
{
	z-index: 75;
	width: 203px;
	min-height: 39px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 405px;
	left: 24px;
}

#u13835
{
	z-index: 60;
	width: 773px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	padding-bottom: 13px;
	margin-left: 25px;
	margin-top: 74px;
	position: relative;
}

#u13838-6
{
	z-index: 68;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 332px;
	left: 15px;
}

#pu13592
{
	width: 0.01px;
	margin-left: 55px;
	margin-top: 37px;
}

#u13592
{
	z-index: 41;
	width: 377px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
}

#u13593-6
{
	z-index: 42;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 285px;
	left: 22px;
}

#u13583
{
	z-index: 32;
	width: 314px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	left: 471px;
}

#u13584-6
{
	z-index: 33;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 285px;
	left: 22px;
}

#u13591
{
	z-index: 40;
	width: 1059px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	padding-bottom: 9px;
	left: -32px;
	margin-top: 21px;
	position: relative;
}

#u13594-6
{
	z-index: 48;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 16px;
}

#u13590
{
	z-index: 39;
	width: 775px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	padding-bottom: 13px;
	margin-left: 106px;
	margin-top: 20px;
	position: relative;
}

#u13595-6
{
	z-index: 54;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 28px;
}

#u13838-2,#u13593-2,#u13584-2,#u13594-2,#u13595-2
{
	font-size: 14px;
}

#u13837-4,#u13840-4,#u13838-4,#u13593-4,#u13584-4,#u13594-4,#u13595-4
{
	font-size: 12px;
	line-height: 14px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
	margin-top: 256px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

