.version.tr___adform_display /* version checker */
{
	color: #00001B;
	background-color: #AADBFC;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2390px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#pu89
{
	width: 0.01px;
	padding-bottom: 56px;
	margin-left: -100px;
}

#u89
{
	z-index: 236;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 236;
}

#u92
{
	z-index: 237;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u436
{
	z-index: 244;
	top: 11px;
	left: 50%;
	margin-left: -343px;
}

#u574
{
	z-index: 238;
	width: 189px;
	padding-bottom: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 239;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 243;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#top
{
	left: -96px;
	top: -56px;
	margin-bottom: -18px;
	position: relative;
}

#u2361
{
	z-index: 52;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(-1,0,0,-1,32,32);
	-ms-transform: matrix(-1,0,0,-1,32,32);
	transform: matrix(-1,0,0,-1,32,32);
	top: 81px;
	left: 50%;
	margin-left: 360px;
}

#u2359
{
	z-index: 51;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(0,-1,1,0,0,32);
	-ms-transform: matrix(0,-1,1,0,0,32);
	transform: matrix(0,-1,1,0,0,32);
	top: 81px;
	left: 50%;
	margin-left: 404px;
}

#u2296-8
{
	z-index: 37;
	width: 871px;
	min-height: 159px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	margin-left: 45px;
	margin-top: 62px;
	position: relative;
}

#u2296-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2296
{
	font-size: 40px;
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	line-height: 48px;
}

#u2296-5
{
	line-height: 19px;
}

#u2304
{
	z-index: 49;
	width: 283px;
	background-color: transparent;
	margin-left: 339px;
	margin-top: 13px;
	position: relative;
}

#u2303-4
{
	z-index: 45;
	width: 262px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	margin-left: 349px;
	margin-top: 5px;
	position: relative;
}

#u5896
{
	z-index: 36;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -20px;
	margin-top: 51px;
	position: relative;
	padding: 13px 20px 18px 24px;
}

#u6260
{
	z-index: 233;
	width: 980px;
	height: 140px;
	background-color: transparent;
	position: relative;
}

#U6268_animation
{
	width: 980px;
	height: 140px;
	border: none;
}

#u5897-6
{
	z-index: 226;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u6279
{
	z-index: 29;
	width: 729px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -21px;
	margin-top: 12px;
	position: relative;
	padding: 21px 31px 22px 20px;
}

#u6259
{
	z-index: 232;
	width: 728px;
	height: 90px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u6280-6
{
	z-index: 30;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#pu6281
{
	width: 0.01px;
	margin-left: -21px;
	margin-top: 37px;
}

#u6281
{
	z-index: 22;
	width: 321px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 10px 28px 8px;
}

#u6261
{
	z-index: 234;
	width: 320px;
	height: 240px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u6282-6
{
	z-index: 23;
	width: 293px;
	min-height: 45px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u6283
{
	z-index: 15;
	width: 250px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 435px;
	padding: 10px 24px 8px 28px;
}

#u6262
{
	z-index: 235;
	width: 250px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#u6284-6
{
	z-index: 16;
	width: 250px;
	min-height: 45px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u5325
{
	z-index: 182;
	width: 984px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -30px;
	margin-top: 783px;
	position: relative;
	padding: 20px 34px 27px 30px;
}

#u5670
{
	z-index: 222;
	width: 980px;
	height: 240px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u5326-6
{
	z-index: 185;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#u5664
{
	z-index: 183;
	width: 984px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -30px;
	margin-top: 14px;
	position: relative;
	padding: 17px 34px 27.40000000000191px 30px;
}

#u5672
{
	z-index: 223;
	width: 980px;
	height: 240px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u5665-6
{
	z-index: 191;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u5666
{
	z-index: 184;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -30px;
	margin-top: 27px;
	position: relative;
	padding: 15px 38px 27.25000000000182px 30px;
}

#u5674
{
	z-index: 224;
	width: 980px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#u5667-6
{
	z-index: 197;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u5668
{
	z-index: 215;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -30px;
	margin-top: 27px;
	position: relative;
	padding: 16px 45px 27.000000000001364px 23px;
}

#u5676
{
	z-index: 225;
	width: 980px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#u5669-6
{
	z-index: 216;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 7px;
	margin-top: 11px;
	position: relative;
}

#u5243
{
	z-index: 171;
	width: 1150px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	padding-bottom: 0px;
	left: -90px;
	margin-top: 82px;
	position: relative;
}

#u5243_position_content
{
	padding-top: 17px;
	padding-bottom: 50px;
}

#u5392
{
	z-index: 213;
	width: 1150px;
	height: 200px;
	background-color: transparent;
	left: -1px;
	position: relative;
}

#U5427_animation
{
	width: 1150px;
	height: 200px;
	border: none;
}

#u5244-6
{
	z-index: 172;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 19px;
	position: relative;
}

#u4320
{
	z-index: 66;
	width: 1000px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -30px;
	margin-top: 60px;
	position: relative;
	padding: 20px 28px 35.25000000000182px 20px;
}

#u5391
{
	z-index: 209;
	width: 1000px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#U5411_animation
{
	width: 1000px;
	height: 240px;
	border: none;
}

#u4321-6
{
	z-index: 67;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 5px;
	margin-top: 9px;
	position: relative;
}

#u5109
{
	z-index: 73;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -30px;
	margin-top: 16px;
	position: relative;
	padding: 7px 43px 21px 25px;
}

#u5393
{
	z-index: 212;
	width: 980px;
	height: 300px;
	background-color: transparent;
	position: relative;
}

#U5423_animation
{
	width: 980px;
	height: 300px;
	border: none;
}

#u5110-6
{
	z-index: 74;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 5px;
	margin-top: 15px;
	position: relative;
}

#u5116
{
	z-index: 80;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -26px;
	margin-top: 29px;
	position: relative;
	padding: 13px 38px 27.00000000000182px 30px;
}

#u5394
{
	z-index: 210;
	width: 980px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#U5671_animation,#U5673_animation,#U5675_animation,#U5678_animation,#U6307_animation
{
	width: 980px;
	height: 240px;
	border: none;
}

#u5117-6
{
	z-index: 81;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u5123
{
	z-index: 87;
	width: 728px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -26px;
	margin-top: 15px;
	position: relative;
	padding: 24px 24px 30.00000000000182px;
}

#u5390
{
	z-index: 211;
	width: 728px;
	height: 90px;
	background-color: transparent;
	position: relative;
}

#U6264_animation,#U6329_animation
{
	width: 728px;
	height: 90px;
	border: none;
}

#u5124-6
{
	z-index: 88;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 15px;
	position: relative;
}

#u5130
{
	z-index: 94;
	width: 668px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -20px;
	margin-top: 22px;
	position: relative;
	padding: 15px 31px 27px 10px;
}

#u5397
{
	z-index: 207;
	width: 660px;
	height: 200px;
	background-color: transparent;
	margin-left: 8px;
	position: relative;
}

#U5399_animation
{
	width: 660px;
	height: 200px;
	border: none;
}

#u5131-6
{
	z-index: 95;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#ppu5137
{
	width: 0.01px;
	margin-left: -21px;
	margin-top: 22px;
}

#pu5137
{
	width: 0.01px;
	margin-right: -10000px;
}

#u5137
{
	z-index: 101;
	width: 482px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 1px;
	position: relative;
	padding: 10px 16px 27px;
}

#u5335
{
	z-index: 204;
	width: 480px;
	height: 250px;
	background-color: transparent;
	margin-left: 2px;
	position: relative;
}

#U5350_animation
{
	width: 480px;
	height: 250px;
	border: none;
}

#u5138-6
{
	z-index: 102;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u5151
{
	z-index: 115;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 46px;
	position: relative;
	padding: 10px 28px 34.400000000001455px 11px;
}

#u5285
{
	z-index: 178;
	width: 320px;
	height: 320px;
	background-color: transparent;
	position: relative;
}

#U6311_animation
{
	width: 320px;
	height: 320px;
	border: none;
}

#u5152-6
{
	z-index: 116;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u5165
{
	z-index: 129;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 24px;
	position: relative;
	padding: 17px 20px 31.00000000000182px 19px;
}

#u5536
{
	z-index: 214;
	width: 320px;
	height: 160px;
	background-color: transparent;
	position: relative;
}

#U6315_animation
{
	width: 320px;
	height: 160px;
	border: none;
}

#u5166-6
{
	z-index: 130;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u5158
{
	z-index: 122;
	width: 321px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 34px;
	position: relative;
	padding: 10px 19px 30px;
}

#u5336
{
	z-index: 205;
	width: 320px;
	height: 240px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#U6272_animation,#U6328_animation
{
	width: 320px;
	height: 240px;
	border: none;
}

#u5159-6
{
	z-index: 123;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 17px;
	position: relative;
}

#u5186
{
	z-index: 150;
	width: 293px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 49px;
	position: relative;
	padding: 17px 13px 31.00000000000182px 14px;
}

#u5357
{
	z-index: 206;
	width: 280px;
	height: 140px;
	background-color: transparent;
	margin-left: 5px;
	position: relative;
}

#U5359_animation
{
	width: 280px;
	height: 140px;
	border: none;
}

#u5187-6
{
	z-index: 151;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u5200
{
	z-index: 164;
	width: 293px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 6px;
	margin-top: 28px;
	position: relative;
	padding: 7px 20px 20px 7px;
}

#u5311
{
	z-index: 181;
	width: 250px;
	height: 240px;
	background-color: transparent;
	margin-left: 15px;
	position: relative;
}

#U6276_animation,#U5318_animation
{
	width: 250px;
	height: 240px;
	border: none;
}

#u5201-6
{
	z-index: 165;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#pu5144
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 537px;
}

#u5144
{
	z-index: 108;
	width: 468px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	padding: 19px 35px 41.400000000001455px 11px;
}

#u5334
{
	z-index: 203;
	width: 468px;
	height: 400px;
	background-color: transparent;
	position: relative;
}

#U5338_animation
{
	width: 468px;
	height: 400px;
	border: none;
}

#u5145-6
{
	z-index: 109;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#u5172
{
	z-index: 136;
	width: 300px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 27px;
	position: relative;
	padding: 10px 42px 25px 17px;
}

#u5396
{
	z-index: 208;
	width: 300px;
	height: 600px;
	background-color: transparent;
	position: relative;
}

#U6327_animation
{
	width: 300px;
	height: 600px;
	border: none;
}

#u5173-6
{
	z-index: 137;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u5179
{
	z-index: 143;
	width: 300px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 32px;
	position: relative;
	padding: 12px 42px 30px 17px;
}

#u5305
{
	z-index: 179;
	width: 300px;
	height: 250px;
	background-color: transparent;
	position: relative;
}

#U6305_animation
{
	width: 300px;
	height: 250px;
	border: none;
}

#u5180-6
{
	z-index: 144;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 6px;
	position: relative;
}

#u5193
{
	z-index: 157;
	width: 293px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 10px;
	margin-top: 29px;
	position: relative;
	padding: 12px 4px 29.00000000000091px 23px;
}

#u5312
{
	z-index: 180;
	width: 250px;
	height: 360px;
	background-color: transparent;
	position: relative;
}

#U6302_animation
{
	width: 250px;
	height: 360px;
	border: none;
}

#u5194-6
{
	z-index: 158;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u5897-4,#u6280-4,#u6282-4,#u6284-4,#u5326-4,#u5665-4,#u5667-4,#u5669-4,#u5244-4,#u4321-4,#u5110-4,#u5117-4,#u5124-4,#u5131-4,#u5138-4,#u5152-4,#u5166-4,#u5159-4,#u5187-4,#u5201-4,#u5145-4,#u5173-4,#u5180-4,#u5194-4
{
	font-size: 12px;
	line-height: 14px;
}

#pu2375
{
	width: 0.01px;
	margin-left: 299px;
	margin-top: 133px;
}

#u2375
{
	z-index: 54;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u2376
{
	z-index: 55;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2377-4
{
	z-index: 56;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u2378
{
	z-index: 60;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 246px;
}

#u2379
{
	z-index: 61;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2380-4
{
	z-index: 62;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

