.version.trivselhus___adform_display /* version checker */
{
	color: #0000EA;
	background-color: #BD7B83;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2389.5px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#pu89
{
	width: 0.01px;
	padding-bottom: 56px;
	margin-left: -100px;
}

#u89
{
	z-index: 180;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 180;
}

#u92
{
	z-index: 181;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u436
{
	z-index: 188;
	top: 11px;
	left: 50%;
	margin-left: -343px;
}

#u574
{
	z-index: 182;
	width: 189px;
	padding-bottom: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 183;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 187;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#top
{
	left: -96px;
	top: -56px;
	margin-bottom: -18px;
	position: relative;
}

#u2361
{
	z-index: 30;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(-1,0,0,-1,32,32);
	-ms-transform: matrix(-1,0,0,-1,32,32);
	transform: matrix(-1,0,0,-1,32,32);
	top: 81px;
	left: 50%;
	margin-left: 360px;
}

#u2359
{
	z-index: 29;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(0,-1,1,0,0,32);
	-ms-transform: matrix(0,-1,1,0,0,32);
	transform: matrix(0,-1,1,0,0,32);
	top: 81px;
	left: 50%;
	margin-left: 404px;
}

#u2296-8
{
	z-index: 15;
	width: 871px;
	min-height: 159px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	margin-left: 45px;
	margin-top: 62px;
	position: relative;
}

#u2296-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2296
{
	font-size: 40px;
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	line-height: 48px;
}

#u2296-5
{
	line-height: 19px;
}

#u2304
{
	z-index: 27;
	width: 283px;
	background-color: transparent;
	margin-left: 339px;
	margin-top: 13px;
	position: relative;
}

#u2303-4
{
	z-index: 23;
	width: 262px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	margin-left: 349px;
	margin-top: 5px;
	position: relative;
}

#u5243
{
	z-index: 149;
	width: 1150px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	padding-bottom: 0px;
	left: -95px;
	margin-top: 43px;
	position: relative;
}

#u5243_position_content
{
	padding-top: 22px;
	padding-bottom: 36px;
}

#u5245
{
	z-index: 156;
	width: 1150px;
	height: 200px;
	background-color: transparent;
	position: relative;
}

#U5247_animation
{
	width: 1150px;
	height: 200px;
	border: none;
}

#u5244-6
{
	z-index: 150;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 14px;
	position: relative;
}

#u4320
{
	z-index: 44;
	width: 1000px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -35px;
	margin-top: 60px;
	position: relative;
	padding: 10px 34px 21px 14px;
}

#u5250
{
	z-index: 158;
	width: 1000px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#U5258_animation
{
	width: 1000px;
	height: 240px;
	border: none;
}

#u4321-6
{
	z-index: 45;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 11px;
	margin-top: 20px;
	position: relative;
}

#u5109
{
	z-index: 51;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -35px;
	margin-top: 16px;
	position: relative;
	padding: 16px 38px 7px 30px;
}

#u5251
{
	z-index: 159;
	width: 980px;
	height: 300px;
	background-color: transparent;
	position: relative;
}

#U5262_animation
{
	width: 980px;
	height: 300px;
	border: none;
}

#u5110-6
{
	z-index: 52;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#u5325
{
	z-index: 167;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -29px;
	margin-top: 18px;
	position: relative;
	padding: 14px 52px 13.000000000001364px 16px;
}

#u5327
{
	z-index: 174;
	width: 980px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#u5326-6
{
	z-index: 168;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 14px;
	margin-top: 13px;
	position: relative;
}

#u5116
{
	z-index: 58;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -35px;
	margin-top: 39px;
	position: relative;
	padding: 14px 43px 13.050000000001319px 25px;
}

#u5252
{
	z-index: 157;
	width: 980px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#U5329_animation,#U5254_animation
{
	width: 980px;
	height: 240px;
	border: none;
}

#u5117-6
{
	z-index: 59;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 5px;
	margin-top: 13px;
	position: relative;
}

#u5123
{
	z-index: 65;
	width: 728px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -35px;
	margin-top: 15px;
	position: relative;
	padding: 24px 26px 16.000000000001364px 22px;
}

#u5265
{
	z-index: 161;
	width: 728px;
	height: 90px;
	background-color: transparent;
	position: relative;
}

#U5272_animation
{
	width: 728px;
	height: 90px;
	border: none;
}

#u5124-6
{
	z-index: 66;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 8px;
	margin-top: 15px;
	position: relative;
}

#u5130
{
	z-index: 72;
	width: 666px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -29px;
	margin-top: 22px;
	position: relative;
	padding: 17px 33px 13px 10px;
}

#u5266
{
	z-index: 160;
	width: 660px;
	height: 200px;
	background-color: transparent;
	margin-left: 6px;
	position: relative;
}

#U5268_animation
{
	width: 660px;
	height: 200px;
	border: none;
}

#u5131-6
{
	z-index: 73;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#ppu5137
{
	width: 0.01px;
	margin-left: -30px;
	margin-top: 22px;
}

#pu5137
{
	width: 0.01px;
	margin-right: -10000px;
}

#u5137
{
	z-index: 79;
	width: 482px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 1px;
	position: relative;
	padding: 10px 16px 13px;
}

#u5335
{
	z-index: 177;
	width: 480px;
	height: 250px;
	background-color: transparent;
	margin-left: 2px;
	position: relative;
}

#U5350_animation
{
	width: 480px;
	height: 250px;
	border: none;
}

#u5138-6
{
	z-index: 80;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u5151
{
	z-index: 93;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 46px;
	position: relative;
	padding: 10px 28px 20.400000000001455px 11px;
}

#u5285
{
	z-index: 162;
	width: 320px;
	height: 320px;
	background-color: transparent;
	position: relative;
}

#U5288_animation
{
	width: 320px;
	height: 320px;
	border: none;
}

#u5152-6
{
	z-index: 94;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u5165
{
	z-index: 107;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 24px;
	position: relative;
	padding: 20px 20px 17.00000000000182px 19px;
}

#u5333
{
	z-index: 176;
	width: 320px;
	height: 160px;
	background-color: transparent;
	position: relative;
}

#U5342_animation
{
	width: 320px;
	height: 160px;
	border: none;
}

#u5166-6
{
	z-index: 108;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u5158
{
	z-index: 100;
	width: 321px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 34px;
	position: relative;
	padding: 10px 19px 16px;
}

#u5336
{
	z-index: 178;
	width: 320px;
	height: 240px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#U5354_animation
{
	width: 320px;
	height: 240px;
	border: none;
}

#u5159-6
{
	z-index: 101;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 17px;
	position: relative;
}

#u5186
{
	z-index: 128;
	width: 293px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 49px;
	position: relative;
	padding: 17px 13px 17.00000000000182px 14px;
}

#u5357
{
	z-index: 179;
	width: 280px;
	height: 140px;
	background-color: transparent;
	margin-left: 5px;
	position: relative;
}

#U5359_animation
{
	width: 280px;
	height: 140px;
	border: none;
}

#u5187-6
{
	z-index: 129;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u5200
{
	z-index: 142;
	width: 293px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 6px;
	margin-top: 28px;
	position: relative;
	padding: 7px 20px 6px 7px;
}

#u5311
{
	z-index: 166;
	width: 250px;
	height: 240px;
	background-color: transparent;
	margin-left: 15px;
	position: relative;
}

#U5318_animation
{
	width: 250px;
	height: 240px;
	border: none;
}

#u5201-6
{
	z-index: 143;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#pu5144
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 537px;
}

#u5144
{
	z-index: 86;
	width: 468px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	padding: 19px 35px 27.400000000001455px 11px;
}

#u5334
{
	z-index: 175;
	width: 468px;
	height: 400px;
	background-color: transparent;
	position: relative;
}

#U5338_animation
{
	width: 468px;
	height: 400px;
	border: none;
}

#u5145-6
{
	z-index: 87;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#u5172
{
	z-index: 114;
	width: 300px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 27px;
	position: relative;
	padding: 12px 42px 11px 17px;
}

#u5295
{
	z-index: 163;
	width: 300px;
	height: 600px;
	background-color: transparent;
	position: relative;
}

#U5297_animation
{
	width: 300px;
	height: 600px;
	border: none;
}

#u5173-6
{
	z-index: 115;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u5179
{
	z-index: 121;
	width: 300px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 32px;
	position: relative;
	padding: 12px 42px 16px 17px;
}

#u5305
{
	z-index: 164;
	width: 300px;
	height: 250px;
	background-color: transparent;
	position: relative;
}

#U5307_animation
{
	width: 300px;
	height: 250px;
	border: none;
}

#u5180-6
{
	z-index: 122;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 6px;
	position: relative;
}

#u5193
{
	z-index: 135;
	width: 293px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 10px;
	margin-top: 29px;
	position: relative;
	padding: 12px 4px 15.00000000000091px 23px;
}

#u5312
{
	z-index: 165;
	width: 250px;
	height: 360px;
	background-color: transparent;
	position: relative;
}

#U5314_animation
{
	width: 250px;
	height: 360px;
	border: none;
}

#u5194-6
{
	z-index: 136;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u5244-4,#u4321-4,#u5110-4,#u5326-4,#u5117-4,#u5124-4,#u5131-4,#u5138-4,#u5152-4,#u5166-4,#u5159-4,#u5187-4,#u5201-4,#u5145-4,#u5173-4,#u5180-4,#u5194-4
{
	font-size: 12px;
	line-height: 14px;
}

#pu2375
{
	width: 0.01px;
	margin-left: 290px;
	margin-top: 133px;
}

#u2375
{
	z-index: 32;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u2376
{
	z-index: 33;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2377-4
{
	z-index: 34;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u2378
{
	z-index: 38;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 246px;
}

#u2379
{
	z-index: 39;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2380-4
{
	z-index: 40;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	margin-bottom: -1px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
	margin-top: -1px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

