.version.trivselhus___adform_remarketing /* version checker */
{
	color: #000013;
	background-color: #3601B3;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1780px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#pu89
{
	width: 0.01px;
	padding-bottom: 56px;
	margin-left: -100px;
}

#u89
{
	z-index: 156;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 156;
}

#u92
{
	z-index: 157;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u436
{
	z-index: 164;
	top: 11px;
	left: 50%;
	margin-left: -343px;
}

#u574
{
	z-index: 158;
	width: 189px;
	padding-bottom: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 159;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 163;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#top
{
	left: -96px;
	top: -56px;
	margin-bottom: -18px;
	position: relative;
}

#u2444
{
	z-index: 30;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(-1,0,0,-1,32,32);
	-ms-transform: matrix(-1,0,0,-1,32,32);
	transform: matrix(-1,0,0,-1,32,32);
	top: 81px;
	left: 50%;
	margin-left: 360px;
}

#u2450
{
	z-index: 29;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(0,-1,1,0,0,32);
	-ms-transform: matrix(0,-1,1,0,0,32);
	transform: matrix(0,-1,1,0,0,32);
	top: 81px;
	left: 50%;
	margin-left: 404px;
}

#u2449-8
{
	z-index: 15;
	width: 871px;
	min-height: 159px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	margin-left: 45px;
	margin-top: 62px;
	position: relative;
}

#u2449-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2449
{
	font-size: 40px;
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	line-height: 48px;
}

#u2449-5
{
	line-height: 19px;
}

#u2426
{
	z-index: 27;
	width: 283px;
	background-color: transparent;
	margin-left: 339px;
	margin-top: 13px;
	position: relative;
}

#u2442-4
{
	z-index: 23;
	width: 390px;
	min-height: 37px;
	background-color: transparent;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	margin-left: 285px;
	margin-top: 23px;
	position: relative;
}

#ppu8773
{
	width: 0.01px;
	margin-left: 160px;
	margin-top: 39px;
}

#pu8773
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u8773
{
	z-index: 54;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	padding: 14px 29px 12.16014802631554px 13px;
}

#u8963
{
	z-index: 143;
	width: 320px;
	height: 320px;
	background-color: transparent;
	position: relative;
}

#U8983_animation
{
	width: 320px;
	height: 320px;
	border: none;
}

#u8774-6
{
	z-index: 55;
	width: 208px;
	min-height: 31px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u8777
{
	z-index: 63;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-top: 23px;
	position: relative;
	padding: 21px 21px 24px 13px;
}

#u9032
{
	z-index: 155;
	width: 320px;
	height: 160px;
	background-color: transparent;
	position: relative;
}

#U9051_animation
{
	width: 320px;
	height: 160px;
	border: none;
}

#u8780-6
{
	z-index: 76;
	width: 262px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 13px;
	position: relative;
}

#u8775
{
	z-index: 61;
	width: 250px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 471px;
	padding: 20px 23px 14.05000000000041px;
}

#u9033
{
	z-index: 153;
	width: 250px;
	height: 800px;
	background-color: transparent;
	position: relative;
}

#U9043_animation
{
	width: 250px;
	height: 800px;
	border: none;
}

#u8778-6
{
	z-index: 64;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u8776
{
	z-index: 62;
	width: 988px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -35px;
	margin-top: 34px;
	position: relative;
	padding: 21px 33px 13px 14px;
}

#u9031
{
	z-index: 151;
	width: 980px;
	height: 240px;
	background-color: transparent;
	margin-left: 8px;
	position: relative;
}

#U9035_animation
{
	width: 980px;
	height: 240px;
	border: none;
}

#u8779-6
{
	z-index: 70;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 23px;
	position: relative;
}

#u8772
{
	z-index: 53;
	width: 985px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -41px;
	margin-top: 34px;
	position: relative;
	padding: 14px 22px 19px 28px;
}

#u9030
{
	z-index: 152;
	width: 980px;
	height: 300px;
	background-color: transparent;
	margin-left: 5px;
	position: relative;
}

#U9039_animation
{
	width: 980px;
	height: 300px;
	border: none;
}

#u8788-6
{
	z-index: 82;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u8771
{
	z-index: 52;
	width: 1250px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -198px;
	margin-top: 47px;
	position: relative;
	padding: 29px 61px 37px 50px;
}

#u9029
{
	z-index: 154;
	width: 1250px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#U9047_animation
{
	width: 1250px;
	height: 240px;
	border: none;
}

#u8789-6
{
	z-index: 88;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 5px;
	margin-top: 27px;
	position: relative;
}

#u8770
{
	z-index: 51;
	width: 1253px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -204px;
	margin-top: 90px;
	position: relative;
	padding: 39px 56px 16px 52px;
}

#u8959
{
	z-index: 142;
	width: 1250px;
	height: 360px;
	background-color: transparent;
	margin-left: 3px;
	position: relative;
}

#U8971_animation
{
	width: 1250px;
	height: 360px;
	border: none;
}

#u8790-6
{
	z-index: 94;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 32px;
	position: relative;
}

#u8769
{
	z-index: 50;
	width: 730px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 60px;
	margin-top: 47px;
	position: relative;
	padding: 36px 55px 20px 48px;
}

#u8994
{
	z-index: 145;
	width: 730px;
	height: 250px;
	background-color: transparent;
	position: relative;
}

#U9002_animation
{
	width: 730px;
	height: 250px;
	border: none;
}

#u8798-6
{
	z-index: 100;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 20px;
	position: relative;
}

#pu8768
{
	width: 0.01px;
	margin-left: 94px;
	margin-top: 9px;
}

#u8768
{
	z-index: 49;
	width: 318px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 12px 38px 16px 21px;
}

#u8996
{
	z-index: 144;
	width: 300px;
	height: 250px;
	background-color: transparent;
	margin-left: 17px;
	position: relative;
}

#U8998_animation
{
	width: 300px;
	height: 250px;
	border: none;
}

#u8799-6
{
	z-index: 106;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 26px;
	position: relative;
}

#u8767
{
	z-index: 48;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 412px;
	padding: 12px 29px 21.349999999998545px 28px;
}

#u8995
{
	z-index: 146;
	width: 320px;
	height: 250px;
	background-color: transparent;
	position: relative;
}

#U9006_animation
{
	width: 320px;
	height: 250px;
	border: none;
}

#u8800-6
{
	z-index: 112;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 21px;
	position: relative;
}

#u8766
{
	z-index: 47;
	width: 994px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -50px;
	margin-top: 42px;
	position: relative;
	padding: 12px 29px 16px 36px;
}

#u9009
{
	z-index: 149;
	width: 980px;
	height: 120px;
	background-color: transparent;
	margin-left: 14px;
	position: relative;
}

#U9022_animation
{
	width: 980px;
	height: 120px;
	border: none;
}

#u8801-6
{
	z-index: 118;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#ppu8765
{
	width: 0.01px;
	margin-left: -50px;
	margin-top: 14px;
}

#pu8765
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 11px;
}

#u8765
{
	z-index: 46;
	width: 731px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	padding: 17px 16px 13px 28px;
}

#u9010
{
	z-index: 148;
	width: 728px;
	height: 90px;
	background-color: transparent;
	margin-left: 3px;
	position: relative;
}

#U9018_animation
{
	width: 728px;
	height: 90px;
	border: none;
}

#u8802-6
{
	z-index: 124;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u8763
{
	z-index: 44;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 52px;
	margin-top: 15px;
	position: relative;
	padding: 16px 34px 21.199999999998px 12px;
}

#u9011
{
	z-index: 150;
	width: 320px;
	height: 240px;
	background-color: transparent;
	position: relative;
}

#U9026_animation
{
	width: 320px;
	height: 240px;
	border: none;
}

#u8804-6
{
	z-index: 136;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 14px;
	margin-top: 12px;
	position: relative;
}

#u8764
{
	z-index: 45;
	width: 251px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 798px;
	padding: 28px 24px 26px;
}

#u9012
{
	z-index: 147;
	width: 250px;
	height: 360px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#U9014_animation
{
	width: 250px;
	height: 360px;
	border: none;
}

#u8803-6
{
	z-index: 130;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
}

#u8774-2,#u8780-2,#u8778-2,#u8779-2,#u8788-2,#u8789-2,#u8790-2,#u8798-2,#u8799-2,#u8800-2,#u8801-2,#u8802-2,#u8804-2,#u8803-2
{
	font-size: 14px;
}

#u8774-4,#u8780-4,#u8778-4,#u8779-4,#u8788-4,#u8789-4,#u8790-4,#u8798-4,#u8799-4,#u8800-4,#u8801-4,#u8802-4,#u8804-4,#u8803-4
{
	font-size: 12px;
	line-height: 14px;
}

#pu2446
{
	width: 0.01px;
	margin-left: 259px;
	margin-top: 96px;
}

#u2446
{
	z-index: 32;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2448
{
	z-index: 33;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2447-4
{
	z-index: 34;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u2453
{
	z-index: 38;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 231px;
}

#u2455
{
	z-index: 39;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2454-4
{
	z-index: 40;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

