.version.trivselhus___adform_remarketing /* version checker */
{
	color: #00001F;
	background-color: #5DBD4B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1780px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#pu89
{
	width: 0.01px;
	padding-bottom: 56px;
	margin-left: -100px;
}

#u89
{
	z-index: 100;
	height: 56px;
	top: 0px;
}

#u89-bw
{
	z-index: 100;
}

#u92
{
	z-index: 101;
	top: 11px;
	left: 50%;
	margin-left: -454px;
}

#u574
{
	z-index: 102;
	width: 189px;
	padding-bottom: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u90-4
{
	z-index: 103;
	width: 122px;
	min-height: 18px;
	top: 20px;
	left: 50%;
	margin-left: 298px;
}

#u91
{
	z-index: 107;
	width: 189px;
	height: 35px;
	top: 11px;
	left: 50%;
	margin-left: 265px;
}

#u91:hover
{
	width: 189px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 265px;
}

#top
{
	left: -96px;
	top: -56px;
	margin-bottom: -18px;
	position: relative;
}

#u2444
{
	z-index: 30;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(-1,0,0,-1,32,32);
	-ms-transform: matrix(-1,0,0,-1,32,32);
	transform: matrix(-1,0,0,-1,32,32);
	top: 81px;
	left: 50%;
	margin-left: 360px;
}

#u2450
{
	z-index: 29;
	overflow: hidden;
	position: fixed;
	-webkit-transform: matrix(0,-1,1,0,0,32);
	-ms-transform: matrix(0,-1,1,0,0,32);
	transform: matrix(0,-1,1,0,0,32);
	top: 81px;
	left: 50%;
	margin-left: 404px;
}

#u2449-8
{
	z-index: 15;
	width: 871px;
	min-height: 159px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	margin-left: 45px;
	margin-top: 62px;
	position: relative;
}

#u2449-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2449
{
	font-size: 40px;
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	line-height: 48px;
}

#u2449-5
{
	line-height: 19px;
}

#u2426
{
	z-index: 27;
	width: 283px;
	background-color: transparent;
	margin-left: 339px;
	margin-top: 13px;
	position: relative;
}

#u2442-4
{
	z-index: 23;
	width: 390px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	margin-left: 285px;
	margin-top: 23px;
	position: relative;
}

#u11563
{
	z-index: 65;
	width: 993px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -60px;
	margin-top: 39px;
	position: relative;
	padding: 15px 15px 18px 28px;
}

#u12031
{
	z-index: 93;
	width: 980px;
	height: 240px;
	background-color: transparent;
	margin-left: 13px;
	position: relative;
}

#U12033_animation
{
	width: 980px;
	height: 240px;
	border: none;
}

#u11564-6
{
	z-index: 66;
	width: 293px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 22px;
	position: relative;
}

#pu11561
{
	width: 0.01px;
	margin-left: -38px;
	margin-top: 30px;
}

#u11561
{
	z-index: 58;
	width: 320px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 17px 32px 12.448442249245147px 20px;
}

#u12028
{
	z-index: 97;
	width: 320px;
	height: 320px;
	background-color: transparent;
	position: relative;
}

#U12049_animation
{
	width: 320px;
	height: 320px;
	border: none;
}

#u11562-6
{
	z-index: 59;
	width: 203px;
	min-height: 39px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u11557
{
	z-index: 44;
	width: 168px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 376px;
	padding: 21px 16px 15.49844224924675px 10px;
}

#u12025
{
	z-index: 94;
	width: 160px;
	height: 600px;
	background-color: transparent;
	margin-left: 8px;
	position: relative;
}

#U12037_animation
{
	width: 160px;
	height: 600px;
	border: none;
}

#u11558-6
{
	z-index: 45;
	width: 120px;
	min-height: 39px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u11559
{
	z-index: 51;
	width: 300px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 584px;
	padding: 26px 15px 15.54844224924534px 14px;
}

#u12026
{
	z-index: 95;
	width: 300px;
	height: 600px;
	background-color: transparent;
	position: relative;
}

#U12041_animation
{
	width: 300px;
	height: 600px;
	border: none;
}

#u11560-6
{
	z-index: 52;
	width: 203px;
	min-height: 39px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 3px;
	margin-top: 9px;
	position: relative;
}

#u11567
{
	z-index: 74;
	width: 300px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -9px;
	margin-top: 22px;
	position: relative;
	padding: 16px 55px 19.012499999999818px 22px;
}

#u12027
{
	z-index: 96;
	width: 300px;
	height: 250px;
	background-color: transparent;
	left: -1px;
	position: relative;
}

#U12045_animation
{
	width: 300px;
	height: 250px;
	border: none;
}

#u11568-6
{
	z-index: 75;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
}

#u11566
{
	z-index: 73;
	width: 980px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	left: -96px;
	margin-top: 21px;
	position: relative;
	padding: 16px 74px 11.112499999999727px 5px;
}

#u12030
{
	z-index: 99;
	width: 980px;
	height: 120px;
	background-color: transparent;
	position: relative;
}

#U12057_animation
{
	width: 980px;
	height: 120px;
	border: none;
}

#u11569-6
{
	z-index: 81;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 17px;
	margin-top: 16px;
	position: relative;
}

#u11565
{
	z-index: 72;
	width: 728px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	margin-left: 41px;
	margin-top: 21px;
	position: relative;
	padding: 19px 23px 13px 24px;
}

#u12029
{
	z-index: 98;
	width: 728px;
	height: 90px;
	background-color: transparent;
	left: -1px;
	position: relative;
}

#U12053_animation
{
	width: 728px;
	height: 90px;
	border: none;
}

#u11570-6
{
	z-index: 87;
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	margin-top: 10px;
	position: relative;
}

#u11568-2,#u11569-2,#u11570-2
{
	font-size: 14px;
}

#u11564-4,#u11562-4,#u11558-4,#u11560-4,#u11568-4,#u11569-4,#u11570-4
{
	font-size: 12px;
	line-height: 14px;
}

#pu2446
{
	width: 0.01px;
	margin-left: 259px;
	margin-top: 2449px;
}

#u2446
{
	z-index: 32;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2448
{
	z-index: 33;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2447-4
{
	z-index: 34;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u2453
{
	z-index: 38;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 231px;
}

#u2455
{
	z-index: 39;
	width: 151px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	border-radius: 20px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#u2454-4
{
	z-index: 40;
	width: 151px;
	min-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u75
{
	z-index: 2;
	min-height: 62px;
	padding-bottom: 36px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u88-6
{
	z-index: 9;
	width: 340px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u86
{
	z-index: 8;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 762px;
}

#u76
{
	z-index: 3;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 809px;
}

#u82
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 857px;
}

#u84
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 904px;
}

#u78
{
	z-index: 4;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 952px;
}

#u80
{
	z-index: 5;
	width: 34px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1000px;
}

#u75-bw
{
	z-index: 2;
	min-height: 62px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

